<p>You can subscribe to calendars for upcoming days for both Houses in any application that reads .ics files, including Google Calendar, Apple Calendar and Outlook.</p>

<p>The calendar is based on expected business, which is subject to change. Sittings for dates further in the future are more likely to change.</p> 

<p>Once you've subscribed to a calendar, any new information will be made available when the calendar is updated.</p>


<%= content_tag( 'h2', 'House of Commons' ) %>
<input value="<%= house_upcoming_url( :house => 1 ) %>.ics" size="70" />

<%= content_tag( 'h2', 'House of Lords' ) %>
<input value="<%= house_upcoming_url( :house => 2 ) %>.ics" size="70" />
