<p>
<%= link_to( 'Previous day', calendar_day_url( :year => @previous_date.strftime( '%Y'), :month => @previous_date.strftime( '%m' ), :day =>  @previous_date.strftime( '%d' ) ), :class => 'previous' )  %>

<%= link_to( 'Next day', calendar_day_url( :year => @next_date.strftime( '%Y'), :month => @next_date.strftime( '%m' ), :day => @next_date.strftime( '%d' ) ), :class => 'next' )  %>

<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Day</th>
				<th>Commons day type</th>
				<th>Commons scrutiny day?</th>
				<th>Lords day type</th>
				<th>Lords scrutiny day?</th>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'day', :object => @date %>
		</tbody>
	</table>
</div>

<%= render :partial => 'parliamentary_time', :object => @date %>