<p>
<%= link_to( 'Previous month', calendar_month_url( :year => @previous_date.strftime( '%Y' ), :month => @previous_date.strftime( '%m' ) ), :class => 'previous' ) %>

<%= link_to( 'Next month', calendar_month_url( :year => @next_date.strftime( '%Y' ), :month => @next_date.strftime( '%m' ) ), :class => 'next' )  %>
</p>

<div class="table-wrapper">
	<table>
		<thead>
			<tr>
				<th>Date</th>
				<th>Day</th>
				<th>Commons day type</th>
				<th>Commons scrutiny day?</th>
				<th>Lords day type</th>
				<th>Lords  scrutiny day?</th>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'day', :collection => @date_range %>
		</tbody>
	</table>
</div>