<button><%= link_to( 'Previous month', calendar_month_url( :year => @previous_date.year, :month => @previous_date.month ) )  %></button>

<button style="float:right;"><%= link_to( 'Next month', calendar_month_url( :year => @next_date.year, :month => @next_date.month ) )  %></button>



<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Day</th>
			<th>Commons day type</th>
			<th>Commons praying</th>
			<th>Lords day type</th>
			<th>Lords praying</th>
		</tr>
	</thead>
	<tbody>
	<%= render :partial => 'date', :collection => @date_range %>
	</tbody>
</table>