<%= previous_next( 'month', @previous_url, @next_url ) %>

<%= render :partial => 'library_design/feeds/feeds' %>

<div class="overflow-auto">
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Day</th>
				<th>Commons day type</th>
				<th>Commons scrutiny day?</th>
				<th>Lords day type</th>
				<th>Lords  scrutiny day?</th>
			</tr>
		</thead>
		<tbody>
			<%= render :partial => 'day', :collection => @date_range %>
		</tbody>
	</table>
</div>