<%= render :partial => 'library_design/feeds/feeds' %>

<div class="overflow-auto margin-top-10">
	<table class="table">
		<%= render :partial => 'table_head' %>
		<tbody>
			<%= render :partial => 'session_with_parliament', :collection => @sessions %>
		</tbody>
	</table>
</div>