<div class="table-wrapper">
	<table>
		<thead>
			<%= render :partial => 'table_head' %>
		</thead>
		<tbody>
			<%= render :partial => 'parliament', :collection => @parliaments %>
		</tbody>
	</table>
</div>