<li>
	<h2>
		<%= day.start_date.strftime( '%A, ' ) %><%= day.start_date.strftime('%e').strip.to_i.ordinalize  %><%= day.start_date.strftime( ' %B %Y' ) %>
	</h2>
	<%= content_tag( 'p', day.day_type ) %>
</li>