<p class="radio">
	<label class="radio">
		<input type="radio" id="procedure-<%= procedure.id %>" name="procedure" value="<%= procedure.id %>" required="required"> &nbsp;<%= procedure.name %>
	</label>
</p>