
<!-- replace with form on the index page? -->

<form action="calculator/calculate" method="GET" id="calculator">

<p>
<%= content_tag( 'label', 'Procedurey', :for => 'procedure' ) %>			
<select id="procedure" name="procedure">
<option value="1">Proposed Negative Statutory Instrument</option>
<option value="2">Statutory Instrument praying period (Commons only)</option>
</select>
</p>
	
<p>
<%= content_tag( 'label', 'Scrutiny start date: YYYY-MM-DD', :for => 'start-date' ) %>
<input type="date" name="start-date" id="start-date">
<small>
</p>

<p>
<%= content_tag( 'label', 'Day count', :for => 'day-count' ) %>
<input type="number" name="day-count" id="day-count">
</p>

<p>
<label for="calculate">Scrutiny period end date ...</label>
<input type="submit" id="calculate" value="Calculate">
</p>

</form>