<% if @procedures.empty?%> 
	<%= content_tag( 'p', 'The scrutiny period calculator is currently undergoing maintenance. We hope to have it back fairly soon.' ) %>
<% else -%>
	<form action="calculator/calculate" method="GET" id="calculator">

	<fieldset>
	<legend>Period to calculate</legend>

	<%= render :partial => 'calculator/procedure', :collection => @procedures %>

	</fieldset>

<p>
	<label>
	Scrutiny start date: DD-MM-YYYY
	<br>
	<input type="date" name="start-date" id="start-date" required>

	</label>
</p>

<p>
	<label>
	Number of days to count
	<br>
	<input type="number" name="day-count" id="day-count" required>
	</label>

</p>

	<button type="submit" id="calculate">Calculate number of days</button>


	</form>
<% end -%>