<%= content_tag( 'p', link_to( 'Using the calculator', meta_using_url ) ) %>
<form action="egg-timer/calculator/calculate" method="GET" id="calculator">
	<fieldset>
		<legend>Period to calculate</legend>
		<%= render :partial => 'calculator/procedure', :collection => @procedures %>
	</fieldset>
	<p>
		<label>Start date: DD-MM-YYYY
			<br>
			<input type="date" name="start-date" id="start-date" required>
		</label>
	</p>
	<button type="submit" id="calculate">Start</button>
</form>
