<%= content_tag( 'p', link_to( 'How to use the Egg Timer to calculate a scrutiny period', meta_using_url ) ) %>

<form action="/egg-timer/calculator/calculate" method="GET" id="calculator">
	<fieldset>
		<legend>Choose a period to calculate</legend>
		<%= render :partial => 'calculator/procedure', :collection => @procedures %>
	</fieldset>
	
	<fieldset>
		<legend>Choose a starting date</legend>
			
			<p><input type="date" name="start-date" id="start-date" required>
		
	</fieldset>
	
	<button type="submit" id="calculate">Continue with this period and starting date</button>
</form>
