<p class="subnav">
	<%= link_to( 'Scrutiny end date calculator', calculator_form_url, :class => 'scrutiny-calculator' ) %>
	<%= link_to( 'Sitting days during an interval calculator', calculator_interval_url, :class => 'interval-calculator' ) %>
</p>