<div class="p-form__radio-item">
	<input type="radio" name="procedure" id="procedure-<%= procedure.id %>" value="<%= procedure.id %>" required />
	<label for="procedure-<%= procedure.id %>" class="p-form__radio-item-label"><%= procedure.name %></label>
</div>