<p class="procedureformitem">


<input type="radio" id="procedure-<%= procedure.id %>" name="procedure" value="<%= procedure.id %>">
<label for="<%= "procedure-#{procedure.id}" %>"><%= procedure.name %></label>


</p>