<%= content_tag( 'p', "This calculation depends on sitting day data. Sitting day data is complete for both Houses since the 13th June 2017, the start of the #{link_to( '57th Parliament', parliament_show_url( :parliament => 57 ) )}.".html_safe ) %>


<form action="/egg-timer/calculator/interval/calculate" method="GET" id="calculator">
	
	<fieldset>
		<legend>Choose a start date</legend>
			
			<p><input type="date" name="start-date" id="start-date" required>
		
	</fieldset>
	
	<fieldset>
		<legend>Choose an end date</legend>
			
			<p><input type="date" name="end-date" id="end-date" required>
		
	</fieldset>
	
	<button type="submit" id="calculate">Calculate</button>
</form>