<%= render :partial => 'nav'%>

<div class="reading-width">

	<%= render :partial => 'form'%>

	<%= render :partial => 'workings/calculations' %>

	<%= render :partial => 'disclaimer/disclaimer' %>
</div>