<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb">
        app/lib/calculations/forwards/commons_only_si.rb
      </a>
    </p>
    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L2' title='View on GitHub'>2</a>   module Forwards</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L3' title='View on GitHub'>3</a>     module CommonsOnlySi</code></pre>


<p>This method is used for:</p>

<ul>
<li>Commons only negative Statutory Instruments as set out by the Statutory Instruments Act 1946</li>
</ul>

<ul>
<li>Commons only made affirmative Statutory Instruments as set out by their enabling Act</li>
</ul>

<p>The calculation is set out in paragraphs 1 and 2 of <a href="https://www.legislation.gov.uk/ukpga/Geo6/9-10/36/section/7">Section 7 of the Statutory Instruments Act 1946</a>.</p>

<p>A different calculation may be required if the instrument is laid under another Act - as set out in <a href="https://www.legislation.gov.uk/ukpga/Geo6/9-10/36/section/7#section-7-3">paragraph 3</a>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L11' title='View on GitHub'>11</a>       def commons_only_si_calculation_forwards( date, target_day_count )</code></pre>
<p>For an instrument laid under the draft or made negative procedure, the calculation <em>may</em> start on the date of laying, if that is a House of Commons scrutiny day.</p>

<p>For an instrument laid under the made affirmative procedure, the calculation <em>may</em> start on the date of making, if that is a House of Commons scrutiny day.</p>

<p>The following loop starts by moving to the next day.</p>

<p>For that reason, we move back to the <strong>previous day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L17' title='View on GitHub'>17</a>         date = date.prev_day</code></pre>
<p>We set the day count to zero.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L20' title='View on GitHub'>20</a>         day_count = 0</code></pre>
<p>While the number of days we’ve counted is less than the target number of days to count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L23' title='View on GitHub'>23</a>         while ( day_count &lt; target_day_count )</code></pre>
<p>... we continue to the <strong>next day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L26' title='View on GitHub'>26</a>           date = date.next_day</code></pre>
<p>If the day is a Commons scrutiny day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L29' title='View on GitHub'>29</a>           if date.is_commons_scrutiny_day?</code></pre>
<p>... if we&#39;ve not set the scrutiny start date ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L32' title='View on GitHub'>32</a>             unless @scrutiny_start_date</code></pre>
<p>... we set the scrutiny start date to this date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L35' title='View on GitHub'>35</a>               @scrutiny_start_date = date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L36' title='View on GitHub'>36</a>             end</code></pre>
<p>We add one to the day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L39' title='View on GitHub'>39</a>             day_count += 1</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L40' title='View on GitHub'>40</a>           end</code></pre>
<p>If the calendar has no record of what type of day this is, we can&#39;t calculate the end date, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L43' title='View on GitHub'>43</a>           if date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L46' title='View on GitHub'>46</a>              @error_message = &quot;It&#39;s not currently possible to calculate an anticipated end date, as the likely end date occurs during a period for which sitting days are yet to be announced.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L49' title='View on GitHub'>49</a>              break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L50' title='View on GitHub'>50</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L51' title='View on GitHub'>51</a>         end</code></pre>
<p>We return the anticipated end date of the scrutiny period for display.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L54' title='View on GitHub'>54</a>         date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L55' title='View on GitHub'>55</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L56' title='View on GitHub'>56</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L57' title='View on GitHub'>57</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L58' title='View on GitHub'>58</a> end</code></pre>

