<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb">
        app/lib/calculations/backwards/commons_only_si.rb
      </a>
    </p>
    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L2' title='View on GitHub'>2</a>   module Backwards</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L3' title='View on GitHub'>3</a>     module CommonsOnlySi</code></pre>


<p>This method is used for:</p>

<ul>
<li>Commons only negative Statutory Instruments as set out by the Statutory Instruments Act 1946</li>
</ul>

<ul>
<li>Commons only made affirmative Statutory Instruments as set out by their enabling Act</li>
</ul>

<p>The calculation is set out in paragraphs 1 and 2 of <a href="https://www.legislation.gov.uk/ukpga/Geo6/9-10/36/section/7">Section 7 of the Statutory Instruments Act 1946</a>.</p>

<p>A different calculation may be required if the instrument is laid under another Act - as set out in <a href="https://www.legislation.gov.uk/ukpga/Geo6/9-10/36/section/7#section-7-3">paragraph 3</a>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L11' title='View on GitHub'>11</a>       def commons_only_si_calculation_backwards( target_end_date, target_day_count )</code></pre>
<p>Because the start of each loop causes the date to move to the preceding day and we wish to include the target end date ...</p>

<p>... we go forward one day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L15' title='View on GitHub'>15</a>         date = target_end_date.next</code></pre>
<p>We set the day count to zero.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L18' title='View on GitHub'>18</a>         day_count = 0</code></pre>
<h2>Whilst the number of days we’re counting is less than the target number of days to count ...</h2>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L21' title='View on GitHub'>21</a>         while day_count &lt; target_day_count</code></pre>
<p>... we move to the <strong>previous day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L24' title='View on GitHub'>24</a>           date = date.prev_day</code></pre>
<p>If the day is a Commons scrutiny day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L27' title='View on GitHub'>27</a>           if date.is_commons_scrutiny_day?</code></pre>
<p>... if we&#39;ve not set the scrutiny end date ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L30' title='View on GitHub'>30</a>             unless @scrutiny_end_date</code></pre>
<p>... we set the scrutiny end date to this date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L33' title='View on GitHub'>33</a>               @scrutiny_end_date = date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L34' title='View on GitHub'>34</a>             end</code></pre>
<p>We add 1 to the day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L37' title='View on GitHub'>37</a>             day_count += 1</code></pre>
<p>Otherwise, if the calendar has no record of what type of day this is, we can&#39;t calculate the end date, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L40' title='View on GitHub'>40</a>           elsif date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L43' title='View on GitHub'>43</a>             @error_message = &quot;It&#39;s not currently possible to calculate an anticipated start date, as that date occurs during a period for which no sitting day information is available.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L46' title='View on GitHub'>46</a>             break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L47' title='View on GitHub'>47</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L48' title='View on GitHub'>48</a>         end</code></pre>
<p>We return the anticipated start date of the scrutiny period for display.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L51' title='View on GitHub'>51</a>         date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L52' title='View on GitHub'>52</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L53' title='View on GitHub'>53</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L54' title='View on GitHub'>54</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_si.rb#L55' title='View on GitHub'>55</a> end</code></pre>

