<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb">
        app/lib/calculations/forwards/commons_only_si.rb
      </a>
    </p>
    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L2' title='View on GitHub'>2</a>   module Forwards</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L3' title='View on GitHub'>3</a>     module CommonsOnlySi</code></pre>


<p>The calculation counts in actual sitting days, requiring the start date and the number of days to count.</p>

<p>The calculation is defined by paragraphs 1 and 2 of <a href="https://www.legislation.gov.uk/ukpga/Geo6/9-10/36/section/7">Section 7 of the Statutory Instruments Act 1946</a>, though a different calculation may be required if the instrument is laid under another Act - as per <a href="https://www.legislation.gov.uk/ukpga/Geo6/9-10/36/section/7#section-7-3">paragraph 3</a>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L8' title='View on GitHub'>8</a>       def commons_only_si_calculation(date, target_day_count)</code></pre>
<h2>We start counting on the <strong>first day the House of Commons has a scrutiny day</strong>.</h2>

<p>For negative Statutory Instruments this will be the day on which the instrument was laid, if that day was a scrutiny day. For made negative Statutory Instruments, this is defined by the <a href="https://www.legislation.gov.uk/ukpga/Geo6/9-10/36/section/5#section-5-1">Statutory Instruments Act 1946 Section 5 paragraph 1</a>. For draft negative Statutory Instruments, this is defined by the <a href="https://www.legislation.gov.uk/ukpga/Geo6/9-10/36/section/6#section-6-1">Statutory Instruments Act 1946 Section 6 paragraph 1</a>.</p>

<p>For made affirmatives this will be the day on which the instrument was made, if that day was a scrutiny day.</p>

<p>If the laying day - or making day for a made affirmative instrument - is a House of Commons scrutiny day we don&#39;t have to cycle through the calendar to find a subsequent one ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L13' title='View on GitHub'>13</a>         if date.is_commons_scrutiny_day?</code></pre>
<p>... and the laying or making day is the start of the scrutiny period.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L16' title='View on GitHub'>16</a>           @scrutiny_start_date = date</code></pre>
<p>Otherwise, the laying or making day is not a House of Commons scrutiny day, then ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L19' title='View on GitHub'>19</a>         else</code></pre>
<p>... if there is a future House of Commons scrutiny day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L22' title='View on GitHub'>22</a>           if date.first_commons_scrutiny_day</code></pre>
<p>... we set the date to that day. In practice this will be the first sitting day following the laying.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L25' title='View on GitHub'>25</a>             date = date.first_commons_scrutiny_day</code></pre>
<p>... we have found the start of the scrutiny period.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L28' title='View on GitHub'>28</a>             @scrutiny_start_date = date</code></pre>
<p>If we didn&#39;t find a <strong>future House of Commons scrutiny day</strong> in our calendar, we can&#39;t calculate the scrutiny period, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L31' title='View on GitHub'>31</a>           else</code></pre>
<p>... this error message is displayed ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L34' title='View on GitHub'>34</a>             @error_message = &quot;Unable to find a future House of Commons sitting day. It&#39;s not currently possible to calculate an anticipated end date, as the likely end date occurs during a period for which sitting days are yet to be announced.&quot;</code></pre>
<p>... and we stop looking for a scrutiny period end date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L37' title='View on GitHub'>37</a>             return</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L38' title='View on GitHub'>38</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L39' title='View on GitHub'>39</a>         end</code></pre>
<p>We&#39;ve found the first House of Commons scrutiny day so we start counting from day 1.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L42' title='View on GitHub'>42</a>         day_count = 1</code></pre>
<h2>Whilst the number of days we’re counting is less than the target number of days to count ...</h2>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L45' title='View on GitHub'>45</a>         while day_count &lt; target_day_count</code></pre>
<p>... continue to the <strong>next day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L48' title='View on GitHub'>48</a>           date = date.next_day</code></pre>
<p>... and add 1 to the day count if this is a House of Commons scrutiny day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L51' title='View on GitHub'>51</a>           day_count += 1 if date.is_commons_scrutiny_day?</code></pre>
<p>... if the calendar has no record of what type of day this is, we can&#39;t calculate the end date, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L54' title='View on GitHub'>54</a>           next unless date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L57' title='View on GitHub'>57</a>           @error_message = &quot;It&#39;s not currently possible to calculate an anticipated end date, as the likely end date occurs during a period for which sitting days are yet to be announced.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L60' title='View on GitHub'>60</a>           break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L61' title='View on GitHub'>61</a>         end</code></pre>
<p>Return the anticipated end date of the scrutiny period for display.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L64' title='View on GitHub'>64</a>         date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L65' title='View on GitHub'>65</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L66' title='View on GitHub'>66</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L67' title='View on GitHub'>67</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_si.rb#L68' title='View on GitHub'>68</a> end</code></pre>

