<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb">
        app/lib/calculations/backwards/commons_only_sitting_days.rb
      </a>
    </p>
    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L2' title='View on GitHub'>2</a>   module Backwards</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L3' title='View on GitHub'>3</a>     module CommonsOnlySittingDays</code></pre>


<p>The calculation is set out in <a href="https://www.legislation.gov.uk/ukpga/2008/29/section/5#section-5-4A">section 5 (4A) of the Planning Act 2008</a>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L7' title='View on GitHub'>7</a>       def commons_only_sitting_days_backwards( target_end_date, target_day_count )</code></pre>
<p>Because the start of each loop causes the date to move to the preceding day and we wish to include the target end date ...</p>

<p>... we go forward one day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L11' title='View on GitHub'>11</a>         date = target_end_date.next</code></pre>
<p>We set the day count to zero.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L14' title='View on GitHub'>14</a>         day_count = 0</code></pre>
<p>Whilst the number of days we’re counting is less than the target number of days to count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L17' title='View on GitHub'>17</a>         while day_count &lt; target_day_count</code></pre>
<p>... we move back to the <strong>previous day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L20' title='View on GitHub'>20</a>           date = date.prev_day</code></pre>
<p>If the date is sitting day in the House of Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L23' title='View on GitHub'>23</a>           if date.is_commons_parliamentary_sitting_day?</code></pre>
<p>... if we&#39;ve not set the scrutiny end date ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L26' title='View on GitHub'>26</a>             unless @scrutiny_end_date</code></pre>
<p>... we set the scrutiny end date to this date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L29' title='View on GitHub'>29</a>               @scrutiny_end_date = date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L30' title='View on GitHub'>30</a>             end</code></pre>
<p>We add 1 to the day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L33' title='View on GitHub'>33</a>             day_count +=1</code></pre>
<p>Otherwise, if the calendar has no record of what type of day this is, we can&#39;t calculate the end date, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L36' title='View on GitHub'>36</a>           elsif date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L39' title='View on GitHub'>39</a>             @error_message = &quot;It&#39;s not currently possible to calculate an anticipated start date, as that date occurs during a period for which no sitting day information is available.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L42' title='View on GitHub'>42</a>             break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L43' title='View on GitHub'>43</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L44' title='View on GitHub'>44</a>         end</code></pre>
<p>We return the anticipated start date of the scrutiny period for display.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L47' title='View on GitHub'>47</a>         date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L48' title='View on GitHub'>48</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L49' title='View on GitHub'>49</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L50' title='View on GitHub'>50</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/backwards/commons_only_sitting_days.rb#L51' title='View on GitHub'>51</a> end</code></pre>

