<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb">
        app/controllers/calculator_controller.rb
      </a>
    </p>
    

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L2' title='View on GitHub'>2</a> class CalculatorController &lt; ApplicationController</code></pre>
<p>Include code from each of the modules for the different styles of calculation.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L5' title='View on GitHub'>5</a>   include Calculations::BicameralBothHousesSitting</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L6' title='View on GitHub'>6</a>   include Calculations::BicameralSiEitherHouseSitting</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L7' title='View on GitHub'>7</a>   include Calculations::CommonsOnlySi</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L8' title='View on GitHub'>8</a>   include Calculations::CommonsOnlySittingDays</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L9' title='View on GitHub'>9</a>   include Calculations::Pnsi</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L10' title='View on GitHub'>10</a>   include Calculations::Treaty</code></pre>
<h3>This is the code to provide a list of calculators.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L13' title='View on GitHub'>13</a>   def index</code></pre>
<p>We set the meta information for the page.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L16' title='View on GitHub'>16</a>     @page_title = &quot;Calculators&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L17' title='View on GitHub'>17</a>     @description = &quot;Calculators made available by #{$SITE_TITLE}.&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L18' title='View on GitHub'>18</a>     @crumb &lt;&lt; { label: &#39;Calculators&#39;, url: nil }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L19' title='View on GitHub'>19</a>     @section = &#39;calculators&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L20' title='View on GitHub'>20</a>   end</code></pre>
<h3>This is the code to provide information for the form that users can fill in to calculate the scrutiny period by procedure.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L23' title='View on GitHub'>23</a>   def scrutiny_period</code></pre>
<p>We find all the active procedures in display order - to populate the procedure radio buttons on the form.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L26' title='View on GitHub'>26</a>     @procedures = Procedure.all.where( &#39;active is true&#39; ).order( &#39;display_order asc&#39; )</code></pre>
<p>We set the meta information for the page.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L29' title='View on GitHub'>29</a>     @page_title = &quot;Scrutiny end date calculator&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L30' title='View on GitHub'>30</a>     @multiline_page_title = &quot;Calculators &lt;span class=&#39;subhead&#39;&gt;Scrutiny end date&lt;/span&gt;&quot;.html_safe</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L31' title='View on GitHub'>31</a>     @description = &quot;A calculator to determine the estimated end date of scrutiny for instruments before Parliament.&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L32' title='View on GitHub'>32</a>     @crumb &lt;&lt; { label: &#39;Calculators&#39;, url: calculator_list_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L33' title='View on GitHub'>33</a>     @crumb &lt;&lt; { label: &#39;Scrutiny end date&#39;, url: nil }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L34' title='View on GitHub'>34</a>     @section = &#39;calculators&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L35' title='View on GitHub'>35</a>     @subsection = &#39;scrutiny-calculator&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L36' title='View on GitHub'>36</a>   end</code></pre>
<h3>This is the code to provide information for the form that users wishing to run a specific calculation style can fill in.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L39' title='View on GitHub'>39</a>   def style</code></pre>
<p>We get the calculation style if it&#39;s been passed as a parameter.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L42' title='View on GitHub'>42</a>     calculation_style = params[&#39;calculation-style&#39;]</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L43' title='View on GitHub'>43</a>     @calculation_style = calculation_style.to_i if calculation_style</code></pre>
<p>We set the meta information for the page.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L46' title='View on GitHub'>46</a>     @page_title = &quot;Scrutiny end date calculator for a calculation style&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L47' title='View on GitHub'>47</a>     @multiline_page_title = &quot;Calculators &lt;span class=&#39;subhead&#39;&gt;Scrutiny end date for a calculation style&lt;/span&gt;&quot;.html_safe</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L48' title='View on GitHub'>48</a>     @description = &quot;A calculator to determine the estimated end date of scrutiny for instruments before Parliament for a given calculation style.&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L49' title='View on GitHub'>49</a>     @crumb &lt;&lt; { label: &#39;About&#39;, url: meta_list_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L50' title='View on GitHub'>50</a>     @crumb &lt;&lt; { label: &#39;Librarian tools&#39;, url: meta_librarian_tools_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L51' title='View on GitHub'>51</a>     @crumb &lt;&lt; { label: &#39;Scrutiny period calculator by calculation style&#39;, url: nil }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L52' title='View on GitHub'>52</a>   end</code></pre>
<h3>This code runs the scrutiny period calculation.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L55' title='View on GitHub'>55</a>   def calculate</code></pre>
<p>In order to calculate the anticipated end date of the scrutiny period, we need:</p>

<ul>
<li>the <strong>start date</strong>, for example: &quot;2020-05-06&quot;</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L60' title='View on GitHub'>60</a>     start_date = params[&#39;start-date&#39;]</code></pre>
<ul>
<li>the <strong>day count</strong> and</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L63' title='View on GitHub'>63</a>     day_count = params[&#39;day-count&#39;]</code></pre>
<ul>
<li>either the <strong>type of the procedure</strong>, which we refer to by a number</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L66' title='View on GitHub'>66</a>     procedure = params[&#39;procedure&#39;]</code></pre>
<ul>
<li>or the <strong>calculation style</strong>, which we also refer to by a number</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L69' title='View on GitHub'>69</a>     calculation_style = params[&#39;calculation-style&#39;]</code></pre>
<p>Calling this method also sets instance variables for start date, day count, procedure and calculation style.</p>

<p>If we don&#39;t have enough information to proceed with the calculation ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L73' title='View on GitHub'>73</a>     unless calculation_can_proceed?( start_date, day_count, procedure, calculation_style )</code></pre>
<p>... we call the insufficient information method.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L76' title='View on GitHub'>76</a>       insufficient_information</code></pre>
<p>Otherwise, if we do have enough information to proceed with the calculation ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L79' title='View on GitHub'>79</a>     else</code></pre>
<p>... if the day count has not been provided or the day count is invalid ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L82' title='View on GitHub'>82</a>       if !@day_count or is_day_count_invalid?( @day_count )</code></pre>
<p>... we set the meta information for the page ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L85' title='View on GitHub'>85</a>         @page_title = &quot;Scrutiny end date - number of days to count required&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L86' title='View on GitHub'>86</a>         @multiline_page_title = &quot;Calculators &lt;span class=&#39;subhead&#39;&gt;Scrutiny end date - number of days to count required&lt;/span&gt;&quot;.html_safe</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L87' title='View on GitHub'>87</a>         @description = &quot;Number of days to count required for a calculation to determine the estimated end date of scrutiny for instruments before Parliament.&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L88' title='View on GitHub'>88</a>         @crumb &lt;&lt; { label: &#39;Calculators&#39;, url: calculator_list_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L89' title='View on GitHub'>89</a>         @crumb &lt;&lt; { label: &#39;Scrutiny end date&#39;, url: calculator_form_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L90' title='View on GitHub'>90</a>         @crumb &lt;&lt; { label: &#39;Number of days to count required&#39;, url: nil }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L91' title='View on GitHub'>91</a>         @section = &#39;calculators&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L92' title='View on GitHub'>92</a>         @subsection = &#39;scrutiny-calculator&#39;</code></pre>
<p>... and we render the day count form.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L95' title='View on GitHub'>95</a>         render :template =&gt; &#39;calculator/day_count_form&#39;</code></pre>
<p>Otherwise, if the day count has been provided and the day count is not invalid ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L98' title='View on GitHub'>98</a>       else</code></pre>
<p>If the procedure has been passed as a parameter ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L101' title='View on GitHub'>101</a>         if @procedure</code></pre>
<p>... to calculate the <strong>anticipated end date</strong>, we select the calculation based on the type of procedure:</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L104' title='View on GitHub'>104</a>           case @procedure.id</code></pre>
<ul>
<li>Legislative Reform Orders, Public Body Orders, Localism Orders and enhanced affirmatives under the Investigatory Powers Act 2016</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L107' title='View on GitHub'>107</a>             when 1, 17, 18, 19, 2, 4, 21, 22, 23</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L109' title='View on GitHub'>109</a>               @start_date_type = &quot;laying date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L110' title='View on GitHub'>110</a>               @scrutiny_end_date = bicameral_calculation_both_houses_sitting( @start_date, @day_count )</code></pre>
<ul>
<li>Proposed Statutory Instruments (PNSIs)</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L113' title='View on GitHub'>113</a>             when 3</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L115' title='View on GitHub'>115</a>               @start_date_type = &quot;laying date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L116' title='View on GitHub'>116</a>               @scrutiny_end_date = pnsi_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Commons only negative Statutory Instruments</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L119' title='View on GitHub'>119</a>             when 5</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L121' title='View on GitHub'>121</a>               @start_date_type = &quot;laying date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L122' title='View on GitHub'>122</a>               @scrutiny_end_date = commons_only_si_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Commons and Lords negative Statutory Instruments, proposed and draft affirmative remedial orders</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L125' title='View on GitHub'>125</a>             when 6, 13, 14</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L127' title='View on GitHub'>127</a>               @start_date_type = &quot;laying date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L128' title='View on GitHub'>128</a>               @scrutiny_end_date = bicameral_si_either_house_sitting_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Some Commons only made affirmative Statutory Instruments</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L131' title='View on GitHub'>131</a>             when 7</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L133' title='View on GitHub'>133</a>               @start_date_type = &quot;making date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L134' title='View on GitHub'>134</a>               @scrutiny_end_date = commons_only_si_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Commons and Lords made affirmative Statutory Instruments where both Houses are sitting</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L137' title='View on GitHub'>137</a>             when 8</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L139' title='View on GitHub'>139</a>               @start_date_type = &quot;making date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L140' title='View on GitHub'>140</a>               @scrutiny_end_date = bicameral_calculation_both_houses_sitting( @start_date, @day_count )</code></pre>
<ul>
<li>Commons and Lords made affirmative Statutory Instruments where either House is sitting and made affirmative remedial orders</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L143' title='View on GitHub'>143</a>             when 9, 15, 16</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L145' title='View on GitHub'>145</a>               @start_date_type = &quot;making date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L146' title='View on GitHub'>146</a>               @scrutiny_end_date = bicameral_si_either_house_sitting_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Treaty period A</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L149' title='View on GitHub'>149</a>             when 10</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L151' title='View on GitHub'>151</a>               @start_date_type = &quot;laying date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L152' title='View on GitHub'>152</a>               @scrutiny_end_date = treaty_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Treaty period B</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L155' title='View on GitHub'>155</a>             when 11</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L157' title='View on GitHub'>157</a>               @start_date_type = &quot;date of Ministerial statement&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L158' title='View on GitHub'>158</a>               @scrutiny_end_date = treaty_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Published drafts under the European Union (Withdrawal) Act 2018</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L161' title='View on GitHub'>161</a>             when 12</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L163' title='View on GitHub'>163</a>               @start_date_type = &quot;date of publication&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L164' title='View on GitHub'>164</a>               @scrutiny_end_date = bicameral_calculation_both_houses_sitting( @start_date, @day_count )</code></pre>
<ul>
<li>National Policy Statements.</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L167' title='View on GitHub'>167</a>             when 20</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L169' title='View on GitHub'>169</a>               @start_date_type = &quot;laying date&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L170' title='View on GitHub'>170</a>               @scrutiny_end_date = commons_only_sitting_days( @start_date, @day_count )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L171' title='View on GitHub'>171</a>           end</code></pre>
<p>Otherwise, if the calculation style has been selected ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L174' title='View on GitHub'>174</a>         elsif @calculation_style</code></pre>
<p>... to calculate the <strong>anticipated end date</strong>, we select the calculation based on the calculation style:</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L177' title='View on GitHub'>177</a>           case @calculation_style</code></pre>
<ul>
<li>Calculation style 1</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L180' title='View on GitHub'>180</a>             when 1</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L182' title='View on GitHub'>182</a>               @scrutiny_end_date = bicameral_calculation_both_houses_sitting( @start_date, @day_count )</code></pre>
<ul>
<li>Calculation style 2</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L185' title='View on GitHub'>185</a>             when 2</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L187' title='View on GitHub'>187</a>               @scrutiny_end_date = bicameral_si_either_house_sitting_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Calculation style 3</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L190' title='View on GitHub'>190</a>             when 3</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L192' title='View on GitHub'>192</a>               @scrutiny_end_date = commons_only_si_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Calculation style 4</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L195' title='View on GitHub'>195</a>             when 4</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L197' title='View on GitHub'>197</a>               @scrutiny_end_date = pnsi_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Calculation style 5</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L200' title='View on GitHub'>200</a>             when 5</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L202' title='View on GitHub'>202</a>               @scrutiny_end_date = treaty_calculation( @start_date, @day_count )</code></pre>
<ul>
<li>Calculation style 6</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L205' title='View on GitHub'>205</a>             when 6</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L207' title='View on GitHub'>207</a>               @scrutiny_end_date = commons_only_sitting_days( @start_date, @day_count )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L208' title='View on GitHub'>208</a>             else</code></pre>
<p>... we add a reason to the missing information array ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L211' title='View on GitHub'>211</a>               @missing_information &lt;&lt; &#39;a valid calculation style&#39;</code></pre>
<p>... and call the insufficient information method.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L214' title='View on GitHub'>214</a>               insufficient_information</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L215' title='View on GitHub'>215</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L216' title='View on GitHub'>216</a>         end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L217' title='View on GitHub'>217</a>       end</code></pre>
<p>We set the meta information for the page.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L220' title='View on GitHub'>220</a>       @page_title = &quot;Scrutiny end date calculation&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L221' title='View on GitHub'>221</a>       @multiline_page_title = &quot;Calculators &lt;span class=&#39;subhead&#39;&gt;Scrutiny end date calculation&lt;/span&gt;&quot;.html_safe</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L222' title='View on GitHub'>222</a>       @description = &quot;A calculation to determine the estimated end date of scrutiny for instruments before Parliament.&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L223' title='View on GitHub'>223</a>       @json_url = request.original_fullpath.sub &#39;?&#39;, &#39;.json?&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L224' title='View on GitHub'>224</a>       @calendar_links &lt;&lt; [&#39;Anticipated end date of the scrutiny period&#39;, request.original_fullpath.sub( &#39;?&#39;, &#39;.ics?&#39; )]</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L225' title='View on GitHub'>225</a>       @crumb &lt;&lt; { label: &#39;Calculators&#39;, url: calculator_list_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L226' title='View on GitHub'>226</a>       @crumb &lt;&lt; { label: &#39;Scrutiny end date&#39;, url: calculator_form_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L227' title='View on GitHub'>227</a>       @crumb &lt;&lt; { label: &#39;Calculation&#39;, url: nil }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L228' title='View on GitHub'>228</a>       @section = &#39;calculators&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L229' title='View on GitHub'>229</a>       @subsection = &#39;scrutiny-calculator&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L230' title='View on GitHub'>230</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L231' title='View on GitHub'>231</a>   end</code></pre>
<h3>A method to check if the scrutiny period calculation can proceed.</h3>

<p>This method also creates the start date, day count, procedure and calculation style as instance variables.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L235' title='View on GitHub'>235</a>   def calculation_can_proceed?( start_date, day_count, procedure, calculation_style )</code></pre>
<p>We create a variable to hold a boolean, determining if the scrutiny period calculation can proceed.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L238' title='View on GitHub'>238</a>     calculation_can_proceed = true</code></pre>
<p>We create an array to hold any errors we find as a result of missing information.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L241' title='View on GitHub'>241</a>     @missing_information = []</code></pre>
<h2>We check for the presence of a valid start date.</h2>

<p>If the start date is present ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L245' title='View on GitHub'>245</a>     if start_date</code></pre>
<p>... we attempt to convert the start date string into a date, storing the result as a instance variable.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L248' title='View on GitHub'>248</a>       begin</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L249' title='View on GitHub'>249</a>          @start_date = Date.parse( start_date )</code></pre>
<p>If the start date string cannot be converted into a date ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L252' title='View on GitHub'>252</a>       rescue ArgumentError</code></pre>
<p>... we flag that the calculation cannot proceed ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L255' title='View on GitHub'>255</a>         calculation_can_proceed = false</code></pre>
<p>... and add a reason to the missing information array.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L258' title='View on GitHub'>258</a>         @missing_information &lt;&lt; &#39;a valid start date&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L259' title='View on GitHub'>259</a>       end</code></pre>
<p>Otherwise, if the start date is not present ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L262' title='View on GitHub'>262</a>     else</code></pre>
<p>... we flag that the calculation cannot proceed ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L265' title='View on GitHub'>265</a>       calculation_can_proceed = false</code></pre>
<p>... and add a reason to the missing information array.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L268' title='View on GitHub'>268</a>       @missing_information &lt;&lt; &#39;a start date&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L269' title='View on GitHub'>269</a>     end</code></pre>
<h2>We check for the presence of a valid day count.</h2>

<p>If a day count has been passed ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L273' title='View on GitHub'>273</a>     if day_count</code></pre>
<p>... we convert the day count to an integer, storing the result as a instance variable.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L276' title='View on GitHub'>276</a>       @day_count = day_count.to_i</code></pre>
<p>If the day count is an invalid day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L279' title='View on GitHub'>279</a>       if is_day_count_invalid?( @day_count )</code></pre>
<p>... we do not flag that the calculation cannot proceed because this will be picked up by the day count form.</p>

<p>We add a reason to the missing information array.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L284' title='View on GitHub'>284</a>         @missing_information &lt;&lt; &#39;a valid day count&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L285' title='View on GitHub'>285</a>       end</code></pre>
<p>Otherwise, if a day count has not been passed ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L288' title='View on GitHub'>288</a>     else</code></pre>
<p>... we do not flag that the calculation cannot proceed because this will be picked up by the day count form.</p>

<p>We add a reason to the missing information array.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L293' title='View on GitHub'>293</a>       @missing_information &lt;&lt; &#39;a day count&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L294' title='View on GitHub'>294</a>     end</code></pre>
<h2>We check for the presence of a valid procedure <em>or</em> a valid calculation style.</h2>

<p>If the calculation has been passed neither a procedure, nor a calculation style ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L298' title='View on GitHub'>298</a>     if !procedure and !calculation_style</code></pre>
<p>... we flag that the calculation cannot proceed ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L301' title='View on GitHub'>301</a>       calculation_can_proceed = false</code></pre>
<p>... and add a reason to the missing information array.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L304' title='View on GitHub'>304</a>       @missing_information &lt;&lt; &#39;a procedure or calculation style&#39;</code></pre>
<p>Otherwise, if the calculation has been passed a procedure ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L307' title='View on GitHub'>307</a>     elsif procedure</code></pre>
<p>... we attempt to find the procedure, storing the result as a instance variable.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L310' title='View on GitHub'>310</a>       @procedure = Procedure.find_by_id( procedure )</code></pre>
<p>If we fail to find the procedure ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L313' title='View on GitHub'>313</a>       unless @procedure</code></pre>
<p>... we flag that the calculation cannot proceed ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L316' title='View on GitHub'>316</a>         calculation_can_proceed = false</code></pre>
<p>... and add a reason to the missing information array.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L319' title='View on GitHub'>319</a>         @missing_information &lt;&lt; &#39;a valid procedure&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L320' title='View on GitHub'>320</a>       end</code></pre>
<p>Otherwise, if the calculation has been passed a calculation style ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L323' title='View on GitHub'>323</a>     elsif calculation_style</code></pre>
<p>... we convert the calculation style ID to an integer, storing the result as a instance variable.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L326' title='View on GitHub'>326</a>       @calculation_style = calculation_style.to_i</code></pre>
<p>If the calculation style is an invalid calculation style ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L329' title='View on GitHub'>329</a>       if is_calculation_style_invalid?( @calculation_style )</code></pre>
<p>... we flag that the calculation cannot proceed ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L332' title='View on GitHub'>332</a>         calculation_can_proceed = false</code></pre>
<p>... and add a reason to the missing information array.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L335' title='View on GitHub'>335</a>         @missing_information &lt;&lt; &#39;a valid calculation style&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L336' title='View on GitHub'>336</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L337' title='View on GitHub'>337</a>     end</code></pre>
<p>We return the calculation can proceed boolean.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L340' title='View on GitHub'>340</a>     calculation_can_proceed</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L341' title='View on GitHub'>341</a>   end</code></pre>
<h3>A method to check if the day count is valid.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L344' title='View on GitHub'>344</a>   def is_day_count_valid?( day_count )</code></pre>
<p>We create a boolean to hold the validity of the day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L347' title='View on GitHub'>347</a>     is_day_count_valid = true</code></pre>
<p>If the day count is zero or a negative number ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L350' title='View on GitHub'>350</a>     if day_count == 0 or day_count.negative?</code></pre>
<p>... we set the is day count valid boolean to false.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L353' title='View on GitHub'>353</a>       is_day_count_valid = false</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L354' title='View on GitHub'>354</a>     end</code></pre>
<p>We return the is day count valid boolean.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L357' title='View on GitHub'>357</a>     is_day_count_valid</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L358' title='View on GitHub'>358</a>   end</code></pre>
<h3>A method to check if the day count is invalid.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L361' title='View on GitHub'>361</a>   def is_day_count_invalid?( day_count )</code></pre>
<p>We flip the boolean returned by the is day count valid method.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L364' title='View on GitHub'>364</a>     !is_day_count_valid?( day_count )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L365' title='View on GitHub'>365</a>   end</code></pre>
<h3>A method to check if the calculation style is valid.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L368' title='View on GitHub'>368</a>   def is_calculation_style_valid?( calculation_style )</code></pre>
<p>We create a boolean to hold the validity of the calculation style.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L371' title='View on GitHub'>371</a>     is_calculation_style_valid = true</code></pre>
<p>If the calculation style is zero or a negative number ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L374' title='View on GitHub'>374</a>     if calculation_style == 0 or calculation_style.negative?</code></pre>
<p>... we set the is calculation style valid boolean to false.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L377' title='View on GitHub'>377</a>       is_calculation_style_valid = false</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L378' title='View on GitHub'>378</a>     end</code></pre>
<p>We return the is calculation style valid boolean.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L381' title='View on GitHub'>381</a>     is_calculation_style_valid</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L382' title='View on GitHub'>382</a>   end</code></pre>
<h3>A method to check if the calculation style is invalid.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L385' title='View on GitHub'>385</a>   def is_calculation_style_invalid?( calculation_style )</code></pre>
<p>We flip the boolean returned by the is calculation style valid method.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L388' title='View on GitHub'>388</a>     !is_calculation_style_valid?( calculation_style )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L389' title='View on GitHub'>389</a>   end</code></pre>
<h3>A method to report that we have insufficient information for the scrutiny period calculation to proceed.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L392' title='View on GitHub'>392</a>   def insufficient_information</code></pre>
<p>We set the meta information for the page ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L395' title='View on GitHub'>395</a>     @page_title = &quot;Scrutiny end date - more information required&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L396' title='View on GitHub'>396</a>     @multiline_page_title = &quot;Calculators &lt;span class=&#39;subhead&#39;&gt;Scrutiny end date - more information required&lt;/span&gt;&quot;.html_safe</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L397' title='View on GitHub'>397</a>     @description = &quot;More information required for a calculation to determine the estimated end date of scrutiny for instruments before Parliament.&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L398' title='View on GitHub'>398</a>     @crumb &lt;&lt; { label: &#39;Calculators&#39;, url: calculator_list_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L399' title='View on GitHub'>399</a>     @crumb &lt;&lt; { label: &#39;Scrutiny end date&#39;, url: calculator_form_url }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L400' title='View on GitHub'>400</a>     @crumb &lt;&lt; { label: &#39;More information required&#39;, url: nil }</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L401' title='View on GitHub'>401</a>     @section = &#39;calculators&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L402' title='View on GitHub'>402</a>     @subsection = &#39;scrutiny-calculator&#39;</code></pre>
<p>... and display the not enough information message.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L405' title='View on GitHub'>405</a>     render :template =&gt; &#39;calculator/not_enough_information&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L406' title='View on GitHub'>406</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/controllers/calculator_controller.rb#L407' title='View on GitHub'>407</a> end</code></pre>

