<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb">
        app/lib/calculations/forwards/treaty.rb
      </a>
    </p>
    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L2' title='View on GitHub'>2</a>   module Forwards</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L3' title='View on GitHub'>3</a>     module Treaty</code></pre>


<p>For period A the start date is the day on which &quot;a Minister of the Crown has laid before Parliament a copy of the treaty&quot;.</p>

<p>For period B the start date is the day on which &quot;a Minister of the Crown has laid before Parliament a statement indicating that the Minister is of the opinion that the treaty should nevertheless be ratified and explaining why&quot;.</p>

<p>The calculation is set out in the Constitutional Reform and Governance Act 2010 section 20 paragraphs <a href="https://www.legislation.gov.uk/ukpga/2010/25/part/2#section-20-2">2</a>, <a href="https://www.legislation.gov.uk/ukpga/2010/25/part/2#section-20-5">5</a> and <a href="https://www.legislation.gov.uk/ukpga/2010/25/part/2#section-20-9">9</a>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L9' title='View on GitHub'>9</a>       def treaty_calculation_forwards( date, target_day_count )</code></pre>
<p>We set the day count to zero.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L12' title='View on GitHub'>12</a>         day_count = 0</code></pre>
<p>While the number of days we’ve counted is less than the target number of days to count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L15' title='View on GitHub'>15</a>         while ( day_count &lt; target_day_count )</code></pre>
<p>... we continue to the <strong>next day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L18' title='View on GitHub'>18</a>           date = date.next_day</code></pre>
<p>If the day is a joint sitting day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L21' title='View on GitHub'>21</a>           if date.is_joint_parliamentary_sitting_day?</code></pre>
<p>... if we&#39;ve not set the scrutiny start date ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L24' title='View on GitHub'>24</a>             unless @scrutiny_start_date</code></pre>
<p>... we set the scrutiny start date to this date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L27' title='View on GitHub'>27</a>               @scrutiny_start_date = date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L28' title='View on GitHub'>28</a>             end</code></pre>
<p>We add one to the day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L31' title='View on GitHub'>31</a>             day_count += 1</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L32' title='View on GitHub'>32</a>           end</code></pre>
<p>If the calendar has no record of what type of day this is, we can&#39;t calculate the end date, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L35' title='View on GitHub'>35</a>           if date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L38' title='View on GitHub'>38</a>              @error_message = &quot;It&#39;s not currently possible to calculate an anticipated end date, as the likely end date occurs during a period for which sitting days are yet to be announced.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L41' title='View on GitHub'>41</a>              break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L42' title='View on GitHub'>42</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L43' title='View on GitHub'>43</a>         end</code></pre>
<p>We return the anticipated end date of the scrutiny period for display.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L46' title='View on GitHub'>46</a>         date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L47' title='View on GitHub'>47</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L48' title='View on GitHub'>48</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L49' title='View on GitHub'>49</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/treaty.rb#L50' title='View on GitHub'>50</a> end</code></pre>

