<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb">
        app/lib/calculations/interval.rb
      </a>
    </p>
    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L2' title='View on GitHub'>2</a>   module Interval</code></pre>


<p>The method is passed the start and end dates entered by the user.</p>

<p>The calculation is inclusive of the start and end dates.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L7' title='View on GitHub'>7</a>     def calculate_sitting_days_in_interval( start_date, end_date )</code></pre>
<p>We set the date to start counting from the start date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L10' title='View on GitHub'>10</a>       date = start_date</code></pre>
<p>Whilst the date is not later than the end date ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L13' title='View on GitHub'>13</a>       while date &lt;= end_date</code></pre>
<p>... if the calendar has no record of what type of day this is, we can&#39;t calculate the the number of sitting days, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L16' title='View on GitHub'>16</a>         if date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L19' title='View on GitHub'>19</a>           @error_message = &quot;It is not currently possible to calculate the number of sitting days, because the interval includes days for which the calendar is not populated.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L22' title='View on GitHub'>22</a>           break</code></pre>
<p>Otherwise, if the calendar does have a record of what type of day this is ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L25' title='View on GitHub'>25</a>         else</code></pre>
<p>... if the date is a sitting day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L28' title='View on GitHub'>28</a>           if date.is_commons_parliamentary_sitting_day?</code></pre>
<p>... we increment the Commons sitting day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L31' title='View on GitHub'>31</a>             @commons_sitting_day_count += 1</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L32' title='View on GitHub'>32</a>           end</code></pre>
<p>If the date is a sitting day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L35' title='View on GitHub'>35</a>           if date.is_lords_parliamentary_sitting_day?</code></pre>
<p>... we increment the Lords sitting day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L38' title='View on GitHub'>38</a>             @lords_sitting_day_count += 1</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L39' title='View on GitHub'>39</a>           end</code></pre>
<p>We continue to the <strong>next day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L42' title='View on GitHub'>42</a>           date = date.next_day</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L44' title='View on GitHub'>44</a>           puts date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L45' title='View on GitHub'>45</a>         end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L46' title='View on GitHub'>46</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L47' title='View on GitHub'>47</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L48' title='View on GitHub'>48</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/interval.rb#L49' title='View on GitHub'>49</a> end</code></pre>

