
<p>
      On GitHub &rarr; 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb">
        app/lib/calculations/pnsi.rb
      </a>
    </p>
  

    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L2' title='View on GitHub'>2</a>   module Pnsi</code></pre>
<h1>A method for calculating the end date of committee scrutiny periods for Proposed Negative Statutory Instruments (PNSIs).</h1>

<p>The calculation counts in parliamentary sitting days, requiring the laying date and the number of days to count.</p>

<p>The calculation is defined by the <a href="https://www.legislation.gov.uk/ukpga/2018/16/schedule/7/enacted#schedule-7-paragraph-17-10">European Union (Withdrawal) Act 2018 schedule 7 paragraph 17(10)</a> (number of days to count) and <a href="https://www.legislation.gov.uk/ukpga/2018/16/schedule/7/enacted#schedule-7-paragraph-17-11">paragraph 17(11)</a> (definition of sitting day).</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L7' title='View on GitHub'>7</a>     def pnsi_calculation( date, target_day_count )</code></pre>
<h2>We start counting on the <strong>first joint parliamentary sitting day following the laying of the instrument</strong>.</h2>

<p>If the date of laying is a joint parliamentary sitting day, we do not count that day.</p>

<p>If we find a day meeting that criteria ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L12' title='View on GitHub'>12</a>       if date.next_day.first_joint_parliamentary_sitting_day</code></pre>
<p>... we set the date to start counting from as that day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L15' title='View on GitHub'>15</a>         date = date.next_day.first_joint_parliamentary_sitting_day</code></pre>
<p>... we have found the start of the scrutiny period.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L18' title='View on GitHub'>18</a>         @scrutiny_start_date = date</code></pre>
<p>PNSIs are always before both Houses, so we&#39;ll get ready to start counting the sitting days in each House.</p>

<p>The first joint sitting day counts as day 1 in both Houses, so we count from 1 rather than from 0.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L22' title='View on GitHub'>22</a>       	commons_day_count = 1</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L23' title='View on GitHub'>23</a>         lords_day_count = 1</code></pre>
<h2>We look at subsequent days, ensuring that we&#39;ve counted at least ten parliamentary sitting days in each House ...</h2>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L26' title='View on GitHub'>26</a>         until ( ( commons_day_count &gt;= target_day_count ) and ( lords_day_count &gt;= target_day_count ) ) do</code></pre>
<p>... continue to the <strong>next day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L29' title='View on GitHub'>29</a>           date = date.next_day</code></pre>
<p>PNSIs use parliamentary sitting days, rather than naive sitting days.</p>

<p>If the Lords sat on the date we&#39;ve found, we add another day to the Lords’ count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L33' title='View on GitHub'>33</a>           lords_day_count +=1 if date.is_lords_parliamentary_sitting_day?</code></pre>
<p>If the Commons sat on the date we&#39;ve found, we add another day to the Commons’ count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L35' title='View on GitHub'>35</a>           commons_day_count+=1 if date.is_commons_parliamentary_sitting_day?</code></pre>
<p>If the calendar has no record of what type of day this is, we can&#39;t calculate the end date, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L38' title='View on GitHub'>38</a>           if date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L41' title='View on GitHub'>41</a>             @error_message = &quot;It&#39;s not currently possible to calculate an anticipated end date, as the likely end date occurs during a period for which sitting days are yet to be announced.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L44' title='View on GitHub'>44</a>             break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L45' title='View on GitHub'>45</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L46' title='View on GitHub'>46</a>         end</code></pre>
<p>If we didn&#39;t find any <strong>future joint sitting date</strong> in our calendar, we can&#39;t calculate the scrutiny period ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L49' title='View on GitHub'>49</a>       else</code></pre>
<p>... and this error message is displayed.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L52' title='View on GitHub'>52</a>         @error_message = &quot;Unable to find a future joint sitting day. It&#39;s not currently possible to calculate an anticipated end date, as the likely end date occurs during a period for which sitting days are yet to be announced.&quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L53' title='View on GitHub'>53</a>       end</code></pre>
<p>Return the anticipated end date of the scrutiny period for display.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L56' title='View on GitHub'>56</a>       date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L57' title='View on GitHub'>57</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L58' title='View on GitHub'>58</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/pnsi.rb#L59' title='View on GitHub'>59</a> end</code></pre>
  

    <p>This page was generated at 2025-06-17 11:13:34.</p>

