<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb">
        app/lib/calculations/forwards/bicameral_both_houses_sitting.rb
      </a>
    </p>
    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L2' title='View on GitHub'>2</a>   module Forwards</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L3' title='View on GitHub'>3</a>     module BicameralBothHousesSitting</code></pre>


<p>This method deals with the case where days are not counted if <em>either</em> House is adjourned for more than four days.</p>

<p>This method is used for:</p>

<ul>
<li>made affirmative Statutory Instruments as set out in their enabling Act, for example: <a href="https://www.legislation.gov.uk/ukpga/2014/7/section/5/enacted#section-5-9">paragraph 9 of section 5 of the National Insurance Contributions Act 2014</a></li>
</ul>

<ul>
<li>Legislative Reform Orders as set out in sections <a href="https://www.legislation.gov.uk/ukpga/2006/51/section/18#section-18">18</a> and <a href="https://www.legislation.gov.uk/ukpga/2006/51/section/19#section-19">19</a> of the Legislative and Regulatory Reform Act 2006</li>
</ul>

<ul>
<li>Public Body Orders as set out in <a href="https://www.legislation.gov.uk/ukpga/2011/24/section/11#section-11-12">paragraph 12 of section 11 of the Public Bodies Act 2011</a></li>
</ul>

<ul>
<li>Localism Orders as set out in <a href="https://www.legislation.gov.uk/ukpga/2011/20/enacted#section-19-14">paragraph 14 of section 19 of the Localism Act 2011</a></li>
</ul>

<ul>
<li>published drafts as set out in <a href="https://www.legislation.gov.uk/ukpga/2018/16/schedule/8/enacted#schedule-8-paragraph-14">paragraph 14 of schedule 8 of the European Union (Withdrawal) Act 2018</a></li>
</ul>

<ul>
<li>enhanced affirmatives under the <a href="https://www.legislation.gov.uk/id/ukpga/2016/25/">Investigatory Powers Act 2016</a> as set out in <a href="https://www.legislation.gov.uk/ukpga/2016/25/section/268#section-268-11">paragraph 11 of section 268 of the Investigatory Powers Act 2016</a></li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L14' title='View on GitHub'>14</a>       def bicameral_calculation_both_houses_sitting_forwards( date, target_day_count )</code></pre>
<p>For an instrument laid under the made affirmative procedure, the calculation <em>may</em> start on the date of making, if that is a joint scrutiny day.</p>

<p>For an instrument laid under the Legislative Reform Order procedure, Public Body Order procedure, Localism Order procedure, published draft procedure or the enhanced affirmative procedure, the calculation <em>may</em> start on the date of laying, if that is a joint scrutiny day.</p>

<p>The following loop starts by moving to the next day.</p>

<p>For that reason, we move back to the <strong>previous day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L21' title='View on GitHub'>21</a>         date = date.prev_day</code></pre>
<p>We set the day count to zero.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L24' title='View on GitHub'>24</a>         day_count = 0</code></pre>
<p>While the number of days we’ve counted is less than the target number of days to count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L27' title='View on GitHub'>27</a>         while ( day_count &lt; target_day_count )</code></pre>
<p>... we continue to the <strong>next day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L30' title='View on GitHub'>30</a>           date = date.next_day</code></pre>
<p>If the day is a joint scrutiny day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L33' title='View on GitHub'>33</a>           if date.is_joint_scrutiny_day?</code></pre>
<p>... if we&#39;ve not set the scrutiny start date ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L36' title='View on GitHub'>36</a>             unless @scrutiny_start_date</code></pre>
<p>... we set the scrutiny start date to this date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L39' title='View on GitHub'>39</a>               @scrutiny_start_date = date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L40' title='View on GitHub'>40</a>             end</code></pre>
<p>We add one to the day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L43' title='View on GitHub'>43</a>             day_count += 1</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L44' title='View on GitHub'>44</a>           end</code></pre>
<p>If the calendar has no record of what type of day this is, we can&#39;t calculate the end date, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L47' title='View on GitHub'>47</a>           if date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L50' title='View on GitHub'>50</a>              @error_message = &quot;It&#39;s not currently possible to calculate an anticipated end date, as the likely end date occurs during a period for which sitting days are yet to be announced.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L53' title='View on GitHub'>53</a>              break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L54' title='View on GitHub'>54</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L55' title='View on GitHub'>55</a>         end</code></pre>
<p>We return the anticipated end date of the scrutiny period for display.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L58' title='View on GitHub'>58</a>         date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L59' title='View on GitHub'>59</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L60' title='View on GitHub'>60</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L61' title='View on GitHub'>61</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/bicameral_both_houses_sitting.rb#L62' title='View on GitHub'>62</a> end</code></pre>

