<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb">
        app/lib/calculations/forwards/commons_only_sitting_days.rb
      </a>
    </p>
    <pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L1' title='View on GitHub'>1</a> module Calculations</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L2' title='View on GitHub'>2</a>   module Forwards</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L3' title='View on GitHub'>3</a>     module CommonsOnlySittingDays</code></pre>


<p>The calculation is set out in <a href="https://www.legislation.gov.uk/ukpga/2008/29/section/5#section-5-4A">section 5 (4A) of the Planning Act 2008</a>.</p>

<p>The NPS calculation begins on &quot;the first sitting day <em>after</em> the day on which the statement is laid before Parliament&quot;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L8' title='View on GitHub'>8</a>       def commons_only_sitting_days_forwards( date, target_day_count )</code></pre>
<p>We set the day count to zero.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L11' title='View on GitHub'>11</a>         day_count = 0</code></pre>
<p>While the number of days we’ve counted is less than the target number of days to count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L14' title='View on GitHub'>14</a>         while ( day_count &lt; target_day_count )</code></pre>
<p>... we continue to the <strong>next day</strong>.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L17' title='View on GitHub'>17</a>           date = date.next_day</code></pre>
<p>If the day is a Commons sitting day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L20' title='View on GitHub'>20</a>           if date.is_commons_parliamentary_sitting_day?</code></pre>
<p>... if we&#39;ve not set the scrutiny start date ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L23' title='View on GitHub'>23</a>             unless @scrutiny_start_date</code></pre>
<p>... we set the scrutiny start date to this date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L26' title='View on GitHub'>26</a>               @scrutiny_start_date = date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L27' title='View on GitHub'>27</a>             end</code></pre>
<p>We add one to the day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L30' title='View on GitHub'>30</a>             day_count += 1</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L31' title='View on GitHub'>31</a>           end</code></pre>
<p>If the calendar has no record of what type of day this is, we can&#39;t calculate the end date, ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L34' title='View on GitHub'>34</a>           if date.is_calendar_not_populated?</code></pre>
<p>... this error message is displayed to users ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L37' title='View on GitHub'>37</a>              @error_message = &quot;It&#39;s not currently possible to calculate an anticipated end date, as the likely end date occurs during a period for which sitting days are yet to be announced.&quot;</code></pre>
<p>... and we stop looking through the calendar.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L40' title='View on GitHub'>40</a>              break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L41' title='View on GitHub'>41</a>           end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L42' title='View on GitHub'>42</a>         end</code></pre>
<p>We return the anticipated end date of the scrutiny period for display.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L45' title='View on GitHub'>45</a>         date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L46' title='View on GitHub'>46</a>       end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L47' title='View on GitHub'>47</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L48' title='View on GitHub'>48</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/app/lib/calculations/forwards/commons_only_sitting_days.rb#L49' title='View on GitHub'>49</a> end</code></pre>

