<p>
      On GitHub: 
      <a href="https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb">
        config/initializers/monkey_patching.rb
      </a>
    </p>
    

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L2' title='View on GitHub'>2</a> module DateMonkeyPatch</code></pre>
<p>See also: <a href="https://ukparliament.github.io/ontologies/time-period/time-period-ontology">Parliamentary Time Period ontology</a></p>

<p>A Venn diagram setting out parliamentary day types is available here: <a href="/egg-timer/day-type-venn.png">Day type Venn</a></p>

<h2>A set of methods to determine the type of a given day across both Houses.</h2>

<h3>We want to determine if Parliament is dissolved on this day.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L11' title='View on GitHub'>11</a>   def is_dissolution_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L12' title='View on GitHub'>12</a>     DissolutionDay.all.where( &#39;date = ?&#39;,  self ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L13' title='View on GitHub'>13</a>   end</code></pre>
<h3>We want to determine if Parliament is prorogued on this day.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L16' title='View on GitHub'>16</a>   def is_prorogation_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L17' title='View on GitHub'>17</a>     ProrogationDay.all.where( &#39;date = ?&#39;,  self ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L18' title='View on GitHub'>18</a>   end</code></pre>
<h2>A set of methods to return the parliamentary time periods a calendar day forms part of.</h2>

<p>A calendar day forms part of a dissolution period or a Parliament period.</p>

<p>Where a calendar day forms part of a Parliament period, it forms part of a session or a prorogation period.</p>

<h3>We want to find which Parliament period a calendar day forms part of, if any.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L25' title='View on GitHub'>25</a>   def parliament_period</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L26' title='View on GitHub'>26</a>     ParliamentPeriod.find_by_sql([</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L27' title='View on GitHub'>27</a>       &quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L28' title='View on GitHub'>28</a>         SELECT *</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L29' title='View on GitHub'>29</a>         FROM parliament_periods</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L30' title='View on GitHub'>30</a>         WHERE start_date &lt;= :the_date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L31' title='View on GitHub'>31</a>         AND (</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L32' title='View on GitHub'>32</a>           end_date &gt;= :the_date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L33' title='View on GitHub'>33</a>           OR</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L34' title='View on GitHub'>34</a>           end_date IS NULL</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L35' title='View on GitHub'>35</a>         )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L36' title='View on GitHub'>36</a>       &quot;,</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L37' title='View on GitHub'>37</a>       the_date: self</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L38' title='View on GitHub'>38</a>     ]).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L39' title='View on GitHub'>39</a>   end</code></pre>
<h3>We want to find which dissolution period a calendar day forms part of, if any.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L42' title='View on GitHub'>42</a>   def dissolution_period</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L43' title='View on GitHub'>43</a>     DissolutionPeriod.all.where( &quot;start_date &lt;= ?&quot;, self ).where( &quot;end_date &gt;= ?&quot;, self).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L44' title='View on GitHub'>44</a>   end</code></pre>
<h3>We want to find which session a calendar day forms part of, if any.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L47' title='View on GitHub'>47</a>   def session</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L48' title='View on GitHub'>48</a>     Session.find_by_sql([</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L49' title='View on GitHub'>49</a>       &quot;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L50' title='View on GitHub'>50</a>         SELECT *</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L51' title='View on GitHub'>51</a>         FROM sessions</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L52' title='View on GitHub'>52</a>         WHERE start_date &lt;= :the_date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L53' title='View on GitHub'>53</a>         AND (</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L54' title='View on GitHub'>54</a>           end_date &gt;= :the_date</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L55' title='View on GitHub'>55</a>           OR</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L56' title='View on GitHub'>56</a>           end_date IS NULL</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L57' title='View on GitHub'>57</a>         )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L58' title='View on GitHub'>58</a>       &quot;,</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L59' title='View on GitHub'>59</a>       the_date: self</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L60' title='View on GitHub'>60</a>     ]).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L61' title='View on GitHub'>61</a>   end</code></pre>
<h3>We want to find which prorogation period a calendar day forms part of, if any.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L64' title='View on GitHub'>64</a>   def prorogation_period</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L65' title='View on GitHub'>65</a>     ProrogationPeriod.all.where( &quot;start_date &lt;= ?&quot;, self ).where( &quot;end_date &gt;= ?&quot;, self).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L66' title='View on GitHub'>66</a>   end</code></pre>
<h2>A set of methods to determine the type of a given day in a House.</h2>

<h3>Sitting days</h3>

<p>Parliamentary clerks define a sitting day in a House as a day when the House started sitting. Should a House start sitting on a Monday, continue sitting through the night, rise on the Tuesday and not start sitting again on that Tuesday, that would count as one sitting day.</p>

<p>As far as we are aware, this definition made its first appearance in legislation as part of <a href="https://www.legislation.gov.uk/ukpga/2020/1#schedule-5-paragraph-44-2">schedule 5, paragraph 44 (2) of the European Union (Withdrawal Agreement) Act 2020</a>.</p>

<p>Clerks have suggested that this definition would apply across all calculations of scrutiny periods. Lawyers have suggested otherwise.</p>

<p>The Parliamentary Time application defines three types of sitting day:</p>

<ul>
<li>a parliamentary sitting day, being a day on which a House started sitting according to the definition given above.</li>
</ul>

<ul>
<li>a calendar sitting day, being a day on which a House sat, regardless of whether it started sitting on that date.</li>
</ul>

<ul>
<li>a continuation sitting day, being a day on which a House sat when it did not start sitting on that date.</li>
</ul>

<h4>We want to determine if this is a parliamentary sitting day in the Commons.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L82' title='View on GitHub'>82</a>   def is_commons_parliamentary_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L83' title='View on GitHub'>83</a>     SittingDay.all.where( &#39;start_date = ?&#39;,  self ).where( house_id: 1 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L84' title='View on GitHub'>84</a>   end</code></pre>
<h4>We want to determine if this is a parliamentary sitting day in the Lords.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L87' title='View on GitHub'>87</a>   def is_lords_parliamentary_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L88' title='View on GitHub'>88</a>     SittingDay.all.where( &#39;start_date = ?&#39;,  self ).where( house_id: 2 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L89' title='View on GitHub'>89</a>   end</code></pre>
<h4>We want to determine if this is a calendar sitting day in the Commons.</h4>

<p>This method is never called so is commented out here.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L93' title='View on GitHub'>93</a>   def is_commons_calendar_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L94' title='View on GitHub'>94</a>     SittingDay.all.where( &#39;start_date &lt;= ?&#39;,  self ).where( &#39;end_date &gt;= ?&#39;,  self ).where( house_id: 1 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L95' title='View on GitHub'>95</a>   end</code></pre>
<h4>We want to determine if this is a calendar sitting day in the Lords.</h4>

<p>This method is never called so is commented out here.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L99' title='View on GitHub'>99</a>   def is_lords_calendar_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L100' title='View on GitHub'>100</a>     SittingDay.all.where( &#39;start_date &lt;= ?&#39;,  self ).where( &#39;end_date &gt;= ?&#39;,  self ).where( house_id: 2 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L101' title='View on GitHub'>101</a>   end</code></pre>
<h4>We want to determine if this is a continuation sitting day in the Commons.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L104' title='View on GitHub'>104</a>   def is_commons_continuation_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L105' title='View on GitHub'>105</a>     SittingDay.all.where( &#39;start_date &lt; ?&#39;,  self ).where( &#39;end_date &gt;= ?&#39;,  self ).where( house_id: 1 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L106' title='View on GitHub'>106</a>   end</code></pre>
<h4>We want to determine if this is a continuation sitting day in the Lords.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L109' title='View on GitHub'>109</a>   def is_lords_continuation_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L110' title='View on GitHub'>110</a>     SittingDay.all.where( &#39;start_date &lt; ?&#39;,  self ).where( &#39;end_date &gt;= ?&#39;,  self ).where( house_id: 2 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L111' title='View on GitHub'>111</a>   end</code></pre>
<h3>Virtual sitting days</h3>

<p>During the COVID pandemic, the House of Lords sat virtually for 11 days.</p>

<p>As of February 2026, the House of Commons has never sat virtually.</p>

<p>In <a href="https://committees.parliament.uk/publications/688/documents/33426/default/">guidance issued on 16 April 2020</a> the Lords Procedure Committee stated:</p>

<p>&quot;A Virtual Proceeding is not a sitting of the House. There is no Mace present and the Virtual Proceeding will not be empowered to make decisions. Virtual Proceedings can debate and sc[r]utinise an issue but when a decision is needed that must be taken by the House.&quot;</p>

<p>Whilst clerks state that a virtual sitting day does not count as a sitting day for the purposes of calculating scrutiny periods, lawyers imply this would need to be tested in court.</p>

<p>Unless and until this is resolved, these methods use the clerks&#39; definition of non-sitting scrutiny day.</p>

<h4>We want to determine if this is a virtual sitting day in the Commons.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L124' title='View on GitHub'>124</a>   def is_commons_virtual_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L125' title='View on GitHub'>125</a>     VirtualSittingDay.all.where( &#39;start_date &lt;= ?&#39;,  self ).where( &#39;end_date &gt;= ?&#39;,  self ).where( house_id: 1 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L126' title='View on GitHub'>126</a>   end</code></pre>
<h4>We want to determine if this is a virtual sitting day in the Lords.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L129' title='View on GitHub'>129</a>   def is_lords_virtual_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L130' title='View on GitHub'>130</a>     VirtualSittingDay.all.where( &#39;start_date &lt;= ?&#39;,  self ).where( &#39;end_date &gt;= ?&#39;,  self ).where( house_id: 2 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L131' title='View on GitHub'>131</a>   end</code></pre>
<h3>Adjournment days</h3>

<h4>We want to determine if this is an adjournment day in the Commons.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L137' title='View on GitHub'>137</a>   def is_commons_adjournment_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L138' title='View on GitHub'>138</a>     AdjournmentDay.all.where( &#39;date = ?&#39;,  self ).where( house_id: 1 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L139' title='View on GitHub'>139</a>   end</code></pre>
<h4>We want to determine if this is an adjournment day in the Lords.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L142' title='View on GitHub'>142</a>   def is_lords_adjournment_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L143' title='View on GitHub'>143</a>     AdjournmentDay.all.where( &#39;date = ?&#39;,  self ).where( house_id: 2 ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L144' title='View on GitHub'>144</a>   end</code></pre>
<h3>Adjourned days</h3>

<p>Days on which a House is adjourned encompass more day types than those declared as adjournment days in the calendar.</p>

<p>According to the guidance set out by the Lords Procedure Committee - given above - days on which a House sat virtually also count as adjourned days.</p>

<p>According to the definition of a parliamentary sitting day - also given above - as understood by clerks and as set out in <em>some</em> legislation, continuation sitting days also count as adjourned days.</p>

<h4>We want to determine if the day counts as the Commons being adjourned.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L153' title='View on GitHub'>153</a>   def counts_as_commons_adjourned_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L154' title='View on GitHub'>154</a>     self.is_commons_adjournment_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L155' title='View on GitHub'>155</a>     or self.is_commons_virtual_sitting_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L156' title='View on GitHub'>156</a>     or self.is_commons_continuation_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L157' title='View on GitHub'>157</a>   end</code></pre>
<h4>We want to determine if the day counts as the Lords being adjourned.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L160' title='View on GitHub'>160</a>   def counts_as_lords_adjourned_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L161' title='View on GitHub'>161</a>     self.is_lords_adjournment_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L162' title='View on GitHub'>162</a>     or self.is_lords_virtual_sitting_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L163' title='View on GitHub'>163</a>     or self.is_lords_continuation_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L164' title='View on GitHub'>164</a>   end</code></pre>
<h2>A set of methods to determine the type of a given day in <em>either</em> House.</h2>

<h3>We want to determine if this is a parliamentary sitting day in <em>either</em> House.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L170' title='View on GitHub'>170</a>   def is_either_house_parliamentary_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L171' title='View on GitHub'>171</a>     SittingDay.all.where( &#39;start_date = ?&#39;,  self ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L172' title='View on GitHub'>172</a>   end</code></pre>
<h3>We want to determine if this is a calendar sitting day in <em>either</em> House.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L175' title='View on GitHub'>175</a>   def is_either_house_calendar_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L176' title='View on GitHub'>176</a>     SittingDay.all.where( &#39;start_date &lt;= ?&#39;,  self ).where( &#39;end_date &gt;= ?&#39;, self).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L177' title='View on GitHub'>177</a>   end</code></pre>
<h3>We want to determine if this is an adjournment day in either House.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L180' title='View on GitHub'>180</a>   def is_either_house_adjournment_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L181' title='View on GitHub'>181</a>     AdjournmentDay.all.where( &#39;date = ?&#39;,  self ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L182' title='View on GitHub'>182</a>   end</code></pre>
<h2>A set of methods to determine if this is a joint sitting day.</h2>

<h3>We want to check if this is a parliamentary sitting day in <em>both</em> Houses.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L188' title='View on GitHub'>188</a>   def is_joint_parliamentary_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L189' title='View on GitHub'>189</a>     self.is_commons_parliamentary_sitting_day? and self.is_lords_parliamentary_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L190' title='View on GitHub'>190</a>   end</code></pre>
<h3>We want to determine if this is a calendar sitting day in <em>both</em> Houses.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L193' title='View on GitHub'>193</a>   def is_joint_calendar_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L194' title='View on GitHub'>194</a>     self.is_commons_calendar_sitting_day? and self.is_lords_calendar_sitting_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L195' title='View on GitHub'>195</a>   end</code></pre>
<h2>A set of methods to determine if the calendar is populated.</h2>

<h3>A method to determine if this is a day for which we have something in the calendar.</h3>

<p>That may be:</p>

<ul>
<li>a day within dissolution</li>
</ul>

<ul>
<li>a day within prorogation</li>
</ul>

<ul>
<li>a parliamentary sitting day</li>
</ul>

<ul>
<li>a calendar sitting day</li>
</ul>

<ul>
<li>a virtual sitting day</li>
</ul>

<ul>
<li>an adjournment day</li>
</ul>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L208' title='View on GitHub'>208</a>   def is_calendar_populated?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L209' title='View on GitHub'>209</a>     self.is_dissolution_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L210' title='View on GitHub'>210</a>     or self.is_prorogation_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L211' title='View on GitHub'>211</a>     or self.is_commons_calendar_sitting_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L212' title='View on GitHub'>212</a>     or self.is_lords_calendar_sitting_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L213' title='View on GitHub'>213</a>     or self.is_commons_virtual_sitting_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L214' title='View on GitHub'>214</a>     or self.is_lords_virtual_sitting_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L215' title='View on GitHub'>215</a>     or self.is_commons_adjournment_day? \</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L216' title='View on GitHub'>216</a>     or self.is_lords_adjournment_day?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L217' title='View on GitHub'>217</a>   end</code></pre>
<h3>We want to determine if this is a day for which we do not have anything in the calendar.</h3>

<p>This method is used to determine whether a calculation has enough calendar data to proceed.</p>

<p>If the calendar is not populated for a date, calculations cannot proceed past that date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L222' title='View on GitHub'>222</a>   def is_calendar_not_populated?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L223' title='View on GitHub'>223</a>     !self.is_calendar_populated?</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L224' title='View on GitHub'>224</a>   end</code></pre>
<h2>A set of methods to determine whether a date forms part of a break in sitting days of a determined length.</h2>

<p>Under <em>some</em> legislation, periods where the Houses are adjourned for a defined number of days count as scrutiny days for instruments laid under powers in that legislation.</p>

<p>In the legislation we&#39;ve encountered where this is set out, such periods are defined as being not more than four days.</p>

<p>These methods allow the calculation to be adjusted by passing in a maximum day count.</p>

<h3>Methods to calculate non-sitting scrutiny days in both Houses.</h3>

<h4>We want to check if this is a non-sitting scrutiny day in the Commons.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L235' title='View on GitHub'>235</a>   def is_commons_non_sitting_scrutiny_day?( maximum_day_count )</code></pre>
<p>If this counts as an adjourned day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L238' title='View on GitHub'>238</a>     if self.counts_as_commons_adjourned_day?</code></pre>
<p>... we start the non-sitting scrutiny day count at 1.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L241' title='View on GitHub'>241</a>       non_sitting_scrutiny_day_count = 1</code></pre>
<p>We want to cycle through the following days until we reach the maximum day count passed into this function.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L244' title='View on GitHub'>244</a>       date = self</code></pre>
<p>For each number between 1 and the maximum day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L247' title='View on GitHub'>247</a>       for i in ( 1 .. maximum_day_count )</code></pre>
<p>... we go forward one day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L250' title='View on GitHub'>250</a>         date = date.next_day</code></pre>
<p>If this day counts as an adjourned day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L253' title='View on GitHub'>253</a>         if date.counts_as_commons_adjourned_day?</code></pre>
<p>... we add one to the non-sitting scrutiny day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L256' title='View on GitHub'>256</a>           non_sitting_scrutiny_day_count += 1</code></pre>
<p>Otherwise, if this day does not count as an adjourned day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L259' title='View on GitHub'>259</a>         else</code></pre>
<p>... we stop cycling through following days.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L262' title='View on GitHub'>262</a>           break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L263' title='View on GitHub'>263</a>         end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L264' title='View on GitHub'>264</a>       end</code></pre>
<p>We want to cycle through the preceding days until we reach the maximum day count passed into this function.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L267' title='View on GitHub'>267</a>       date = self</code></pre>
<p>For each number between 1 and the maximum day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L270' title='View on GitHub'>270</a>       for i in ( 1 .. maximum_day_count )</code></pre>
<p>... we go back one day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L273' title='View on GitHub'>273</a>         date = date.prev_day</code></pre>
<p>If this day counts as an adjourned day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L276' title='View on GitHub'>276</a>         if date.counts_as_commons_adjourned_day?</code></pre>
<p>... we add one to the non-sitting scrutiny day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L279' title='View on GitHub'>279</a>           non_sitting_scrutiny_day_count += 1</code></pre>
<p>Otherwise, if this day does not count as an adjourned day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L282' title='View on GitHub'>282</a>         else</code></pre>
<p>... we stop cycling through preceding days.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L285' title='View on GitHub'>285</a>           break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L286' title='View on GitHub'>286</a>         end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L287' title='View on GitHub'>287</a>       end</code></pre>
<p>If the total number of non-sitting scrutiny days is more than the maximum day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L290' title='View on GitHub'>290</a>       if non_sitting_scrutiny_day_count &gt; maximum_day_count</code></pre>
<p>... then this day <em>does not</em> count as a non-sitting scrutiny day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L293' title='View on GitHub'>293</a>         is_commons_non_sitting_scrutiny_day = false</code></pre>
<p>If the total number of non-sitting scrutiny days is less than or the same as the maximum day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L296' title='View on GitHub'>296</a>       else</code></pre>
<p>... then this day <em>does</em> count as a non-sitting scrutiny day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L299' title='View on GitHub'>299</a>         is_commons_non_sitting_scrutiny_day = true</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L300' title='View on GitHub'>300</a>       end</code></pre>
<p>We return if this day is a Commons non-sitting scrutiny day</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L303' title='View on GitHub'>303</a>       is_commons_non_sitting_scrutiny_day</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L304' title='View on GitHub'>304</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L305' title='View on GitHub'>305</a>   end</code></pre>
<h4>We want to check if this is a non-sitting scrutiny day in the Lords.</h4>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L308' title='View on GitHub'>308</a>   def is_lords_non_sitting_scrutiny_day?( maximum_day_count )</code></pre>
<p>If this counts as an adjourned day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L311' title='View on GitHub'>311</a>     if self.counts_as_lords_adjourned_day?</code></pre>
<p>... we start the non-sitting scrutiny day count at 1.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L314' title='View on GitHub'>314</a>       non_sitting_scrutiny_day_count = 1</code></pre>
<p>We want to cycle through the following days until we reach the maximum day count passed into this function.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L317' title='View on GitHub'>317</a>       date = self</code></pre>
<p>For each number between 1 and the maximum day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L320' title='View on GitHub'>320</a>       for i in ( 1 .. maximum_day_count )</code></pre>
<p>... we go forward one day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L323' title='View on GitHub'>323</a>         date = date.next_day</code></pre>
<p>If this day counts as an adjourned day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L326' title='View on GitHub'>326</a>         if date.counts_as_lords_adjourned_day?</code></pre>
<p>... we add one to the non-sitting scrutiny day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L329' title='View on GitHub'>329</a>           non_sitting_scrutiny_day_count += 1</code></pre>
<p>Otherwise, if this day does not count as an adjourned day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L332' title='View on GitHub'>332</a>         else</code></pre>
<p>... we stop cycling through following days.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L335' title='View on GitHub'>335</a>           break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L336' title='View on GitHub'>336</a>         end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L337' title='View on GitHub'>337</a>       end</code></pre>
<p>We want to cycle through the preceding days until we reach the maximum day count passed into this function.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L340' title='View on GitHub'>340</a>       date = self</code></pre>
<p>For each number between 1 and the maximum day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L343' title='View on GitHub'>343</a>       for i in ( 1 .. maximum_day_count )</code></pre>
<p>... we go back one day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L346' title='View on GitHub'>346</a>         date = date.prev_day</code></pre>
<p>If this day counts as an adjourned day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L349' title='View on GitHub'>349</a>         if date.counts_as_lords_adjourned_day?</code></pre>
<p>... we add one to the non-sitting scrutiny day count.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L352' title='View on GitHub'>352</a>           non_sitting_scrutiny_day_count += 1</code></pre>
<p>Otherwise, if this day does not count as an adjourned day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L355' title='View on GitHub'>355</a>         else</code></pre>
<p>... we stop cycling through preceding days.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L358' title='View on GitHub'>358</a>           break</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L359' title='View on GitHub'>359</a>         end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L360' title='View on GitHub'>360</a>       end</code></pre>
<p>If the total number of non-sitting scrutiny days is more than the maximum day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L363' title='View on GitHub'>363</a>       if non_sitting_scrutiny_day_count &gt; maximum_day_count</code></pre>
<p>... then this day <em>does not</em> count as a non-sitting scrutiny day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L366' title='View on GitHub'>366</a>         is_lords_non_sitting_scrutiny_day = false</code></pre>
<p>If the total number of non-sitting scrutiny days is less than or the same as the maximum day count ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L369' title='View on GitHub'>369</a>       else</code></pre>
<p>... then this day <em>does</em> count as a non-sitting scrutiny day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L372' title='View on GitHub'>372</a>         is_lords_non_sitting_scrutiny_day = true</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L373' title='View on GitHub'>373</a>       end</code></pre>
<p>We return if this day is a Lord non-sitting scrutiny day</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L376' title='View on GitHub'>376</a>       is_lords_non_sitting_scrutiny_day</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L377' title='View on GitHub'>377</a>     end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L378' title='View on GitHub'>378</a>   end</code></pre>
<h2>A set of methods to determine if this is a scrutiny day in a House, in both Houses and in either House.</h2>

<h3>We want to determine if this is a scrutiny day in the Commons.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L383' title='View on GitHub'>383</a>   def is_commons_scrutiny_day?</code></pre>
<p>We set the Commons is scrutiny day boolean to false.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L386' title='View on GitHub'>386</a>     is_commons_scrutiny_day = false</code></pre>
<p>If this is a parliamentary sitting day in the Commons ...</p>

<p>... or this is a non-sitting scrutiny day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L390' title='View on GitHub'>390</a>     if self.is_commons_parliamentary_sitting_day? or self.is_commons_non_sitting_scrutiny_day?( 4 ) # We pass &#39;4&#39; as the maximum day count to the non-sitting scrutiny day calculation, because non-sitting scrutiny days are days within a series of not more than four non-sitting days.</code></pre>
<p>... we set the is Commons scrutiny day boolean to true.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L393' title='View on GitHub'>393</a>       is_commons_scrutiny_day = true</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L394' title='View on GitHub'>394</a>     end</code></pre>
<p>We return the is Commons scrutiny day boolean.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L397' title='View on GitHub'>397</a>     is_commons_scrutiny_day</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L398' title='View on GitHub'>398</a>   end</code></pre>
<h3>We want to determine if this is a scrutiny day in the Lords.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L401' title='View on GitHub'>401</a>   def is_lords_scrutiny_day?</code></pre>
<p>We set the Lords is scrutiny day boolean to false.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L404' title='View on GitHub'>404</a>     is_lords_scrutiny_day = false</code></pre>
<p>If this is a parliamentary sitting day in the Lords ...</p>

<p>... or this is a non-sitting scrutiny day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L408' title='View on GitHub'>408</a>     if self.is_lords_parliamentary_sitting_day? or self.is_lords_non_sitting_scrutiny_day?( 4 ) # We pass &#39;4&#39; as the maximum day count to the non-sitting scrutiny day calculation, because non-sitting scrutiny days are days within a series of not more than four non-sitting days.</code></pre>
<p>... we set the Lords is scrutiny day boolean to true.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L411' title='View on GitHub'>411</a>       is_lords_scrutiny_day = true</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L412' title='View on GitHub'>412</a>     end</code></pre>
<p>We return the Lords is scrutiny day boolean.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L415' title='View on GitHub'>415</a>     is_lords_scrutiny_day</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L416' title='View on GitHub'>416</a>   end</code></pre>
<h3>We want to check if this is a scrutiny day in <em>both</em> Houses.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L419' title='View on GitHub'>419</a>   def is_joint_scrutiny_day?</code></pre>
<p>We set the is joint scrutiny day boolean to false.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L422' title='View on GitHub'>422</a>     is_joint_scrutiny_day = false</code></pre>
<p>If this is a scrutiny day in the Commons <em>and</em> this is a scrutiny day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L425' title='View on GitHub'>425</a>     if self.is_commons_scrutiny_day? and self.is_lords_scrutiny_day?</code></pre>
<p>... we set the is joint scrutiny day boolean to true.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L428' title='View on GitHub'>428</a>       is_joint_scrutiny_day = true</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L429' title='View on GitHub'>429</a>     end</code></pre>
<p>We return the is joint scrutiny day boolean.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L432' title='View on GitHub'>432</a>     is_joint_scrutiny_day</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L433' title='View on GitHub'>433</a>   end</code></pre>
<h3>We want to check if this is a scrutiny day in <em>either</em> House.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L436' title='View on GitHub'>436</a>   def is_either_house_scrutiny_day?</code></pre>
<p>We set the is either house scrutiny day boolean to false.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L439' title='View on GitHub'>439</a>     is_either_house_scrutiny_day = false</code></pre>
<p>If this is a scrutiny day in the Commons <em>or</em> this is a scrutiny day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L442' title='View on GitHub'>442</a>     if self.is_commons_scrutiny_day? or self.is_lords_scrutiny_day?</code></pre>
<p>... we set the is either house scrutiny day boolean to true.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L445' title='View on GitHub'>445</a>       is_either_house_scrutiny_day = true</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L446' title='View on GitHub'>446</a>     end</code></pre>
<p>We return the is either house scrutiny day boolean.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L449' title='View on GitHub'>449</a>     is_either_house_scrutiny_day</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L450' title='View on GitHub'>450</a>   end</code></pre>
<h2>A set of methods to determine the relationship of a day to its containing or preceding session.</h2>

<h3>We want to determine if this is the final day of a session.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L455' title='View on GitHub'>455</a>   def is_final_day_of_session?</code></pre>
<p>We set the is final day of session boolean to false.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L458' title='View on GitHub'>458</a>     is_final_day_of_session = false</code></pre>
<p>We attempt to find a session ending on this date.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L461' title='View on GitHub'>461</a>     session = Session.all.where( &quot;end_date = ?&quot;, self ).first</code></pre>
<p>If we find a session ending on this data ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L464' title='View on GitHub'>464</a>     if session</code></pre>
<p>... we set the is final day of session boolean to true.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L467' title='View on GitHub'>467</a>       is_final_day_of_session = true</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L468' title='View on GitHub'>468</a>     end</code></pre>
<p>We return the is final day of session boolean.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L471' title='View on GitHub'>471</a>     is_final_day_of_session</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L472' title='View on GitHub'>472</a>   end</code></pre>
<h3>We want to find the session immediately preceding this day.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L475' title='View on GitHub'>475</a>   def preceding_session</code></pre>
<p>We attempt to find the first session starting before this day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L478' title='View on GitHub'>478</a>     Session.all.where( &quot;start_date &lt; ?&quot;, self ).order( &quot;start_date DESC&quot; ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L479' title='View on GitHub'>479</a>   end</code></pre>
<h3>We want to find the session immediately following this day.</h3>

<p>This method is used to determine which session papers laid in prorogation are recorded in.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L483' title='View on GitHub'>483</a>   def following_session</code></pre>
<p>We attempt to find the next session starting after this day.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L486' title='View on GitHub'>486</a>     Session.all.where( &quot;start_date &gt; ?&quot;, self ).order( &quot;start_date&quot; ).first</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L487' title='View on GitHub'>487</a>   end</code></pre>
<h4>DONE TO HERE</h4>

<h2>A set of methods to apply labels to a day in the calendar views.</h2>

<h3>A method to generate a label for the type of a day in the Commons in a session.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L511' title='View on GitHub'>511</a>   def commons_day_type</code></pre>
<p>If the day is a parliamentary sitting day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L514' title='View on GitHub'>514</a>     if self.is_commons_parliamentary_sitting_day?</code></pre>
<p>... we set the day type label to &#39;Parliamentary sitting day&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L517' title='View on GitHub'>517</a>       day_type = &#39;Parliamentary sitting day&#39;</code></pre>
<p>Otherwise, if the day is a continuation sitting day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L520' title='View on GitHub'>520</a>     elsif self.is_commons_continuation_sitting_day?</code></pre>
<p>... we set the day type label to &#39;Continuation sitting day&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L523' title='View on GitHub'>523</a>       day_type = &quot;Continuation sitting day&quot;</code></pre>
<p>Otherwise, if the day is a virtual sitting day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L526' title='View on GitHub'>526</a>     elsif self.is_commons_virtual_sitting_day?</code></pre>
<p>... we set the day type label to &#39;Virtual sitting day&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L529' title='View on GitHub'>529</a>       day_type = &#39;Virtual sitting day&#39;</code></pre>
<p>Otherwise, if the day is a adjournment day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L532' title='View on GitHub'>532</a>     elsif self.is_commons_adjournment_day?</code></pre>
<p>... we want to display if the adjournment day forms part of a named recess ...</p>

<p>... so we call the Commons adjournment day label method.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L536' title='View on GitHub'>536</a>       day_type = self.commons_adjournment_day_label</code></pre>
<p>Otherwise, if the day is in a session but has no defined type ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L539' title='View on GitHub'>539</a>     elsif self.session</code></pre>
<p>... we set the day type label to &#39;Session day of unknown type&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L542' title='View on GitHub'>542</a>       day_type = &#39;Session day of unknown type&#39;</code></pre>
<p>Otherwise, if the day is a prorogation day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L545' title='View on GitHub'>545</a>     elsif self.is_prorogation_day?</code></pre>
<p>... we set the day type label to &#39;Prorogation&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L548' title='View on GitHub'>548</a>       day_type = &#39;Prorogation&#39;</code></pre>
<p>Otherwise, if the day is a dissolution day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L551' title='View on GitHub'>551</a>     elsif self.is_dissolution_day?</code></pre>
<p>... we set the day type label to &#39;Dissolution&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L554' title='View on GitHub'>554</a>       day_type = &#39;Dissolution&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L555' title='View on GitHub'>555</a>     end</code></pre>
<p>We return the day type label.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L558' title='View on GitHub'>558</a>     day_type</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L559' title='View on GitHub'>559</a>   end</code></pre>
<h3>A method to generate a label for the type of a day in the Lords in a session.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L562' title='View on GitHub'>562</a>   def lords_day_type</code></pre>
<p>If the day is a parliamentary sitting day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L565' title='View on GitHub'>565</a>     if self.is_lords_parliamentary_sitting_day?</code></pre>
<p>... we set the day type label to &#39;Parliamentary sitting day&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L568' title='View on GitHub'>568</a>       day_type = &#39;Parliamentary sitting day&#39;</code></pre>
<p>Otherwise, if the day is a continuation sitting day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L571' title='View on GitHub'>571</a>     elsif self.is_lords_continuation_sitting_day?</code></pre>
<p>... we set the day type label to &#39;Continuation sitting day&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L574' title='View on GitHub'>574</a>       day_type = &quot;Continuation sitting day&quot;</code></pre>
<p>Otherwise, if the day is a virtual sitting day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L577' title='View on GitHub'>577</a>     elsif self.is_lords_virtual_sitting_day?</code></pre>
<p>... we set the day type label to &#39;Virtual sitting day&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L580' title='View on GitHub'>580</a>       day_type = &#39;Virtual sitting day&#39;</code></pre>
<p>Otherwise, if the day is a adjournment day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L583' title='View on GitHub'>583</a>     elsif self.is_lords_adjournment_day?</code></pre>
<p>... we want to display if the adjournment day forms part of a named recess ...</p>

<p>... so we call the Lords adjournment day label method.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L587' title='View on GitHub'>587</a>       day_type = self.lords_adjournment_day_label</code></pre>
<p>Otherwise, if the day is in a session but has no defined type ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L590' title='View on GitHub'>590</a>     elsif self.session</code></pre>
<p>... we set the day type label to &#39;Session day of unknown type&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L593' title='View on GitHub'>593</a>       day_type = &#39;Session day of unknown type&#39;</code></pre>
<p>Otherwise, if the day is a prorogation day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L596' title='View on GitHub'>596</a>     elsif self.is_prorogation_day?</code></pre>
<p>... we set the day type label to &#39;Prorogation&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L599' title='View on GitHub'>599</a>       day_type = &#39;Prorogation&#39;</code></pre>
<p>Otherwise, if the day is a dissolution day ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L602' title='View on GitHub'>602</a>     elsif self.is_dissolution_day?</code></pre>
<p>... we set the day type label to &#39;Dissolution&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L605' title='View on GitHub'>605</a>       day_type = &#39;Dissolution&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L606' title='View on GitHub'>606</a>     end</code></pre>
<p>We return the day type label.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L609' title='View on GitHub'>609</a>     day_type</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L610' title='View on GitHub'>610</a>   end</code></pre>
<h2>A set of methods to decorate a day label for an adjournment day with the name of a recess where applicable.</h2>

<h3>A method to label a Commons adjournment day, with the name of a recess if applicable.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L615' title='View on GitHub'>615</a>   def commons_adjournment_day_label</code></pre>
<p>We set the day type label to &#39;Adjournment day&#39;</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L618' title='View on GitHub'>618</a>     day_type = &#39;Adjournment day&#39;</code></pre>
<p>We attempt to find a recess on this date, in this House.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L621' title='View on GitHub'>621</a>     recess_date = RecessDate</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L622' title='View on GitHub'>622</a>       .all</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L623' title='View on GitHub'>623</a>       .where( &quot;start_date &lt;= ?&quot;, self )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L624' title='View on GitHub'>624</a>       .where( &quot;end_date &gt;= ?&quot;, self )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L625' title='View on GitHub'>625</a>       .where( house_id: 1 ) # 1 being the ID of the House of Commons.</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L626' title='View on GitHub'>626</a>       .first</code></pre>
<p>If we find a recess date on this day, in this House ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L629' title='View on GitHub'>629</a>     if recess_date</code></pre>
<p>... we append the description of the recess date to the day type label.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L632' title='View on GitHub'>632</a>       day_type += &#39; (&#39; + recess_date.description + &#39;)&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L633' title='View on GitHub'>633</a>     end</code></pre>
<p>We return the day type label.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L636' title='View on GitHub'>636</a>     day_type</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L637' title='View on GitHub'>637</a>   end</code></pre>
<h3>A method to label a Lords adjournment day, with the name of a recess if applicable.</h3>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L640' title='View on GitHub'>640</a>   def lords_adjournment_day_label</code></pre>
<p>We set the day type label to &#39;Adjournment day&#39;</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L643' title='View on GitHub'>643</a>     day_type = &#39;Adjournment day&#39;</code></pre>
<p>We attempt to find a recess on this date, in this House.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L646' title='View on GitHub'>646</a>     recess_date = RecessDate</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L647' title='View on GitHub'>647</a>       .all</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L648' title='View on GitHub'>648</a>       .where( &quot;start_date &lt;= ?&quot;, self )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L649' title='View on GitHub'>649</a>       .where( &quot;end_date &gt;= ?&quot;, self )</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L650' title='View on GitHub'>650</a>       .where( house_id: 2 ) # 2 being the ID of the House of Lords.</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L651' title='View on GitHub'>651</a>       .first</code></pre>
<p>If we find a recess date on this day, in this House ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L654' title='View on GitHub'>654</a>     if recess_date</code></pre>
<p>... we append the description of the recess date to the day type label.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L657' title='View on GitHub'>657</a>       day_type += &#39; (&#39; + recess_date.description + &#39;)&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L658' title='View on GitHub'>658</a>     end</code></pre>
<p>We return the day type label.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L661' title='View on GitHub'>661</a>     day_type</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L662' title='View on GitHub'>662</a>   end</code></pre>
<h2>A set of methods to generate a label for whether this day counts as a scrutiny day in a House, or not.</h2>

<h2>A method to generate a label for whether this day counts as a scrutiny day in the Commons, or not.</h2>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L667' title='View on GitHub'>667</a>   def is_commons_scrutiny_day_label</code></pre>
<p>If this is a scrutiny day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L670' title='View on GitHub'>670</a>     if self.is_commons_scrutiny_day?</code></pre>
<p>... we set the label to &#39;True&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L673' title='View on GitHub'>673</a>       label = &#39;True&#39;</code></pre>
<p>Otherwise, if this is not a scrutiny day in the Commons ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L676' title='View on GitHub'>676</a>     else</code></pre>
<p>... we set the label to &#39;False&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L679' title='View on GitHub'>679</a>       label = &#39;False&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L680' title='View on GitHub'>680</a>     end</code></pre>
<p>We return the label.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L683' title='View on GitHub'>683</a>     label</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L684' title='View on GitHub'>684</a>   end</code></pre>
<h2>A method to generate a label for whether this day counts as a scrutiny day in the Lords, or not.</h2>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L687' title='View on GitHub'>687</a>   def is_lords_scrutiny_day_label</code></pre>
<p>If this is a scrutiny day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L690' title='View on GitHub'>690</a>     if self.is_lords_scrutiny_day?</code></pre>
<p>... we set the label to &#39;True&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L693' title='View on GitHub'>693</a>       label = &#39;True&#39;</code></pre>
<p>Otherwise, if this is not a scrutiny day in the Lords ...</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L696' title='View on GitHub'>696</a>     else</code></pre>
<p>... we set the label to &#39;False&#39;.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L699' title='View on GitHub'>699</a>       label = &#39;False&#39;</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L700' title='View on GitHub'>700</a>     end</code></pre>
<p>We return the label.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L703' title='View on GitHub'>703</a>     label</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L704' title='View on GitHub'>704</a>   end</code></pre>
<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L705' title='View on GitHub'>705</a> end</code></pre>
<p>We include these methods in the Ruby Data class.</p>

<pre><code><a href='https://github.com/ukparliament/egg-timer/blob/main/config/initializers/monkey_patching.rb#L708' title='View on GitHub'>708</a> Date.include( DateMonkeyPatch )</code></pre>

