<section class="disclaimer">
	<h3>Disclaimer</h3>
	<p>You should not rely on this service as legal or professional advice, or as a substitute for it.</p>
	<p>We do not accept any liability whatsoever for any errors, omissions or misstatements contained herein.</p> 
	<p>You should consult a suitably qualified professional if you require specific advice or information.</p>
</section>