<h2><%= @procedure.name %></h2>


<p>Currently active? <strong><%= @procedure.active_label %></strong></p>

<p>
<button>
<%= "#{link_to( @procedure.status_label, procedure_flip_url ) }".html_safe %>
</button>
</p>