/* This is just for app specific overrides and extras */

/* Main navigation active states */
body.section-calculators nav#header-nav a.calculators {
	border-bottom-color: #fff;
}
body.section-time-periods nav#header-nav a.time-periods {
	border-bottom-color: #fff;
}
body.section-calendar nav#header-nav a.calendar {
	border-bottom-color: #fff;
}
body.section-calendar-subscriptions nav#header-nav a.calendar-subscriptions {
	border-bottom-color: #fff;
}


/* Sub navigation active states */
body.subsection-scrutiny-calculator .subnav a.scrutiny-calculator {
	border-bottom-color: #006e45;
	color: #4d4d4d;
}
body.subsection-scrutiny-calculator-reverse .subnav a.scrutiny-calculator-reverse {
	border-bottom-color: #006e45;
	color: #4d4d4d;
}
body.subsection-interval-calculator .subnav a.interval-calculator {
	border-bottom-color: #006e45;
	color: #4d4d4d;
}


/* Styling for House day columns in calendar tables */
td.commons {
	background-color: lightgreen;
	font-weight: bold;
}
td.lords {
	background-color: pink;
	font-weight: bold;
}

/* Styling for result boxes on calculation page */
.result-box {
	border: 2pt solid gray;
	border-radius: 0.25rem;
	color: black;
	font-size: 1.1em;
	padding: 0.75rem;
	margin-bottom: 1em;
}
.result-box em {
	font-style: normal;
	text-decoration:underline;
}


/* Styling for pre element wrapping code comments */
pre {
	padding: .3em 0 .3em 1em;
}


/* Egg timer logo */
#egg-timer #logo, #egg-timer .formerly {
	display: inline-block;
}
#logo {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
#logo:hover {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
}


/* Stale data warning */
div.stale-warning {
  border: 3px solid red;
  margin-bottom: 20px;
  padding: 10px;
}


/* Disable Bootstrap smooth scrolling to ensure radio button validations display correctly */
/* https://github.com/twbs/bootstrap/issues/33757 */
:root {
  scroll-behavior: auto !important;
}
