<!DOCTYPE html>
<html lang="en-gb">
<head>
  <title>Parliament Calendar</title>
  <style>
  body {font-family:system-ui;padding:1rem;margin:auto;max-width:38rem;}  
  img {
  max-width:100%;
max-height:100%;
}
  </style>
      <meta name="viewport" content="width=device-width">
</head>
<body>
<header><nav></nav>

<h1>Parliament Calendar</h1>
</header>
<main>
<%= yield %>
</main>
<footer>
</footer>
</body>
</html>
